<div class="container">
  <h3 class="alert alert-info text-center" role="alert">Panel S.N.I.C.</h3>
  <hr />
  <form class="text-center" [formGroup]="form" (ngSubmit)="doAction()">
    <h4>
      <b><u>Suicidios</u></b>
    </h4>
    <div class="form-group row">
      <!-- alert alert-success -->
      <legend><b>Modalidad:</b></legend>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          1 - Arma de fuego:</label
        >
        <input
          [(ngModel)]="item.armaFuego"
          (click)="ckeckPresion(1)"
          name="armaFuego"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          2 - Arma blanca - Elemento contundente:</label
        >
        <input
          [(ngModel)]="item.armaBlElcontundente"
          (click)="ckeckPresion(2)"
          name="armaBlElcontundente"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          3 - Sumersión en piscina - Rio - Mar:</label
        >
        <input
          [(ngModel)]="item.sumersion"
          (click)="ckeckPresion(3)"
          name="sumersion"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          4 - Envenenamiento:</label
        >
        <input
          [(ngModel)]="item.envenenamiento"
          (click)="ckeckPresion(4)"
          name="envenenamiento"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          5 - Ahorcamiento:</label
        >
        <input
          [(ngModel)]="item.ahorcamiento"
          (click)="ckeckPresion(5)"
          name="ahorcamiento"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          6 - Se arroja al vacio:</label
        >
        <input
          [(ngModel)]="item.seArroja"
          (click)="ckeckPresion(6)"
          name="seArroja"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          7 - Se arroja a la vía del ferrocarril:</label
        >
        <input
          [(ngModel)]="item.seArrojaVia"
          (click)="ckeckPresion(7)"
          name="seArrojaVia"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          8 - Otra modalidad (Especificar):</label
        >
        <input
          [(ngModel)]="item.otraModalidad"
          (click)="ckeckPresion(8)"
          name="otraModalidad"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          9 - Se incinera:</label
        >
        <input
          [(ngModel)]="item.seIncinera"
          (click)="ckeckPresion(14)"
          name="otraModalidad"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label for="Nombre" class="col-sm-12 col-form-label">
          9 - Sin Determinar:</label
        >
        <input
          [(ngModel)]="item.sinDeterminarModalidad"
          (click)="ckeckPresion(15)"
          name="otraModalidad"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div *ngIf="item.otraModalidad" class="form-group row">
      <div class="col-md-12">
        <label for="especificarModalidad" class="col-sm-12 col-form-label">
          Especificar Modalidad:</label
        >
        <input
          [(ngModel)]="item.especificarModalidad"
          name="especificarModalidad"
          type="text"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <legend><b>Lugar:</b></legend>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          1 - Vía Pública:</label
        >
        <input
          [(ngModel)]="item.viaPublica"
          (click)="ckeckPresion(9)"
          name="viaPublica"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          2 - Domicilio Particular:</label
        >
        <input
          [(ngModel)]="item.domParticular"
          (click)="ckeckPresion(10)"
          name="domParticular"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          3 - Vías Ferro Carril:</label
        >
        <input
          [(ngModel)]="item.viaFerroCarril"
          (click)="ckeckPresion(11)"
          name="viaFerroCarril"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          4 - Carcel o Comisaría:</label
        >
        <input
          [(ngModel)]="item.carcelComisaria"
          (click)="ckeckPresion(12)"
          name="sinArma"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          5 - Otro lugar (Especificar):</label
        >
        <input
          [(ngModel)]="item.otroLugar"
          (click)="ckeckPresion(13)"
          name="sinArma"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          5 - Sin Determinar:</label
        >
        <input
          [(ngModel)]="item.sinDeterminarLugar"
          (click)="ckeckPresion(16)"
          name="sinArma"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div *ngIf="item.otroLugar" class="row">
      <div class="col-md-12">
        <label for="Nombre" class="col-sm-12 col-form-label">
          Especificar lugar:</label
        >
        <input
          [(ngModel)]="item.especifLugar"
          name="especifArma"
          type="text"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <hr />
    <div class="row">
      <ng-container
        *ngIf="guardando; then thenTemplate; else elseTemplate"
      ></ng-container>
      <ng-template #thenTemplate>
        <button id="boton" class="btn btn-disabled" type="button" disabled>
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Guardando datos...
        </button>
      </ng-template>
      <ng-template #elseTemplate>
        <ng-container
          *ngIf="item.preventivo > 0; then thenTemplate; else elseTemplate"
        ></ng-container>
        <ng-template #thenTemplate>
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
            Editar registro</button>
        </ng-template>
        <ng-template #elseTemplate>
          <button class="btn btn-dark" type="submit">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;
            Guardar</button>
        </ng-template>
      </ng-template>
      &nbsp;
      <button class="btn btn-info" type="button" (click)="back()">
        <i class="fa fa-hand-o-left" aria-hidden="true"></i>
        &nbsp;
        Cancelar
      </button>
    </div>
  </form>
</div>
<br />
