<button class="btn btn-outline-info" (click)="back()">
  <i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp; Volver a Pantalla
  Principal
</button>
<br />
<hr />
<div class="row container" id="table">
  <table id="tablaHd" class="table text-center" >
    <thead>
      <tr>
        <th scope="col" colspan="21">DATOS DEL HECHO</th>
        <th scope="col" colspan="11">DATOS DE LA VÍCTIMA</th>
        <th scope="col" colspan="4">DATOS DEL IMPUTADO</th>
        <th scope="col">(I) Vínculo del imputado con la víctima</th>
        <th scope="col" colspan="2">DATOS DEL IMPUTADO</th>
      </tr>
      <tr>
        <th scope="col">Código de Departamento* (según codificación INDEC)</th>
        <!-- <th scope="col">Nombre Departamento</th> -->
        <th scope="col">
          Número de Seccional* (según codificación reportada a DNGIC)
        </th>
        <!-- <th scope="col">Nombre Unidad</th> -->
        <th scope="col">Código de Localidad* (según codificación INDEC)</th>
        <!-- <th scope="col">Nombre Localidad</th> -->
        <th scope="col">Nº de Sumario</th>
        <th scope="col">Fecha del hecho*</th>
        <th scope="col">Hora del hecho*</th>
        <th scope="col">Nombre de la calle o ruta*</th>
        <th scope="col">N° / altura*</th>
        <th scope="col">Calle Intersección</th>
        <th scope="col" colspan="2">(A) Tipo de lugar*</th>
        <th scope="col" colspan="2">
          (B) Arma o mecanismo utilizado* Especificar sólo código 3
        </th>
        <th scope="col" colspan="2">
          (C) En ocasión de otro delito* Especificar sólo código 3
        </th>
        <th scope="col" colspan="2">
          (D) Motivo que origina el registro del hecho* Especificar sólo código
          4
        </th>
        <th scope="col">(E) Sistema de coordenadas utilizado</th>
        <th scope="col" colspan="2">Coordenadas</th>
        <th scope="col">Observaciones</th>
        <th scope="col">Nro. Documento</th>
        <!-- victima -->
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">(F) Sexo*</th>
        <th scope="col">Edad*</th>
        <th scope="col" colspan="2">(G) Clase* Especificar sólo código 5</th>
        <th scope="col" colspan="2">
          (H) Situación Ocupacional* Especificar sólo código 14
        </th>
        <th scope="col" colspan="2">(J) Género* Especificar sólo código 5</th>
        <th scope="col">(F) Sexo*</th>
        <th scope="col">Edad*</th>
        <th scope="col" colspan="2">(G) Clase*</th>
        <th scope="col">Vínculo *</th>
        <th scope="col" colspan="2">(J) Género*</th>
      </tr>
      <tr>
        <th>codigo_departamento</th>
        <!-- <th>Nombre Departamento</th> -->
        <th>codigo_seccional</th>
        <!-- <th>Nombre Unidad</th> -->
        <th>codigo_localidad</th>
        <!-- <th>Nombre Localidad</th> -->
        <th>numero_sumario</th>
        <th>fecha_hecho</th>
        <th>hora_hecho</th>
        <th>calle</th>
        <th>altura</th>
        <th>calle_interseccion</th>
        <th>tipo_lugar</th>
        <th>otro_tipo_lugar</th>
        <th>clase_arma</th>
        <th>otro_clase_arma</th>
        <th>en_ocasion_otro_delito</th>
        <th>otro_en_ocasion_otro_delito</th>
        <th>motivo_origen_registro</th>
        <th>otro_motivo_origen_registro</th>
        <th>sistema_coordenadas</th>
        <th>latitud</th>
        <th>longitud</th>
        <th>observaciones</th>
        <th>documento_victima</th>
        <th>nombre_victima</th>
        <th>apellido_victima</th>
        <th>sexo_victima</th>
        <th>edad_victima</th>
        <th>clase_victima</th>
        <th>otro_clase_victima</th>
        <th>situacion_ocupacional_victima</th>
        <th>otro_situacion_ocupacional_victima</th>
        <th>identidad_genero_victima</th>
        <th>otro_identidad_genero_victima</th>
        <th>sexo_imputado</th>
        <th>edad_imputado</th>
        <th>clase_imputado</th>
        <th>otro_clase_imputado</th>
        <th>relacion_victima_imputado</th>
        <th>identidad_genero_imputado</th>
        <th>otro_identidad_genero_imputado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.codigoDpto }}</td>
        <!-- <td>{{ item.nombreDpto }}</td> -->
        <td>{{ item.codigoUnidad }}</td>
        <!-- <td>{{ item.nombreUnidad }}</td> -->
        <td>{{ item.codigoLocalidad }}</td>
        <!-- <td>{{ item.nombreLocalidad }}</td> -->
        <td>{{ item.nroPreventivo }}</td>
        <td>{{ item.fechaHecho | date : "dd/MM/yyyy" }}</td>
        <td>{{ item.horaHecho }}</td>
        <td>{{ item.nombreCalle }}</td>
        <td>{{ item.alturaCalle }}</td>
        <td>s/d</td>
        <td>
          {{
            tipoLugar(
              item.viaPublica,
              item.domParticular,
              item.comercio,
              item.interiorRodados,
              item.carcelComisaria,
              item.otroLugar
            )
          }}
        </td>
        <td>{{ item.otroLugarEsp }}</td>
        <td>
          {{
            arma(item.armaFuego, item.armaBlanca, item.otraArma, item.sinArma)
          }}
        </td>
        <td>{{ item.otraArmaEsp }}</td>
        <td>
          {{
            ocacionDelito(
              item.siRobo,
              item.abusoSexual,
              item.otroDelito,
              item.noOtroDelito
            )
          }}
        </td>
        <td>{{ item.otroDelitoEsp }}</td>
        <td>{{ intervencion(item.interPolicial) }}</td>
        <td>s/d</td>
        <td>1</td>
        <td>{{ cortarCadena(item.latitud) }}</td>
        <td>{{ cortarCadena(item.longitud) }}</td>
        <td>{{ item.observacionAmpl }}</td>
        <td>{{ item.dniVctima }}</td>
        <td>{{ item.nombreVictima }}</td>
        <td>{{ item.apellidoVictima }}</td>
        <td>{{ item.codigoSexo }}</td>
        <td>{{ item.edadVictima }}</td>
        <td>{{ item.claseVictima }}</td>
        <td>s/d</td>
        <td>{{ item.codigoOcupacion }}</td>
        <td>s/d</td>
        <td>{{ item.codigoGenero }}</td>
        <td>s/d</td>
        <td>{{ item.codigoSexInculpado }}</td>
        <td>{{ item.edadInculpado }}</td>
        <td>{{ item.claseInculpado }}</td>
        <td>s/d</td>
        <td>{{item.codigoVinculo}}</td>
        <td>{{item.codGeneroInculp}}</td>
        <td>s/d</td>
      </tr>
    </tbody>
  </table>
</div>
<hr />
<button class="btn btn-info" (click)="exportarExcel('table')">
  <i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp; Descargar planilla
</button>