<br />
<hr />
<div class="container-xxl">
  <div class="row" id="table" #table>
    <table id="tablaHd" class="table text-center">
      <thead>
        <tr>
          <th class="encabezado" scope="col" colspan="21">DATOS DEL HECHO</th>
          <th class="encabezado" scope="col" colspan="11">
            DATOS DE LA VÍCTIMA
          </th>
          <th class="encabezado" scope="col" colspan="4">DATOS DEL IMPUTADO</th>
          <th class="encabezado" scope="col">
            (I) Vínculo del imputado con la víctima
          </th>
          <th class="encabezado" scope="col" colspan="2">DATOS DEL IMPUTADO</th>
        </tr>
        <tr>
          <th class="encabezado" scope="col">
            Código de Departamento* (según codificación INDEC)
          </th>
          <!-- <th scope="col">Nombre Departamento</th> -->
          <th class="encabezado" scope="col">
            Número de Seccional* (según codificación reportada a DNGIC)
          </th>
          <!-- <th scope="col">Nombre Unidad</th> -->
          <th class="encabezado" scope="col">
            Código de Localidad* (según codificación INDEC)
          </th>
          <!-- <th scope="col">Nombre Localidad</th> -->
          <th class="encabezado" scope="col">Nº de Sumario</th>
          <th class="encabezado" scope="col">Fecha del hecho*</th>
          <th class="encabezado" scope="col">Hora del hecho*</th>
          <th class="encabezado" scope="col">Nombre de la calle o ruta*</th>
          <th class="encabezado" scope="col">N° / altura*</th>
          <th class="encabezado" scope="col">Calle Intersección</th>
          <th class="encabezado" scope="col" colspan="2">(A) Tipo de lugar*</th>
          <th class="encabezado" scope="col" colspan="2">
            (B) Arma o mecanismo utilizado* Especificar sólo código 3
          </th>
          <th class="encabezado" scope="col" colspan="2">
            (C) En ocasión de otro delito* Especificar sólo código 3
          </th>
          <th class="encabezado" scope="col" colspan="2">
            (D) Motivo que origina el registro del hecho* Especificar sólo
            código 4
          </th>
          <th class="encabezado" scope="col">
            (E) Sistema de coordenadas utilizado
          </th>
          <th class="encabezado" scope="col" colspan="2">Coordenadas</th>
          <th class="encabezado" class="encabezado" scope="col">
            Observaciones
          </th>
          <th class="encabezado" scope="col">Nro. Documento</th>
          <!-- victima -->
          <th class="encabezado" scope="col">Nombre</th>
          <th class="encabezado" scope="col">Apellido</th>
          <th class="encabezado" scope="col">(F) Sexo*</th>
          <th class="encabezado" scope="col">Edad*</th>
          <th class="encabezado" scope="col" colspan="2">
            (G) Clase* Especificar sólo código 5
          </th>
          <th class="encabezado" scope="col" colspan="2">
            (H) Situación Ocupacional* Especificar sólo código 14
          </th>
          <th class="encabezado" scope="col" colspan="2">
            (J) Género* Especificar sólo código 5
          </th>
          <th class="encabezado" scope="col">(F) Sexo*</th>
          <th class="encabezado" scope="col">Edad*</th>
          <th class="encabezado" scope="col" colspan="2">(G) Clase*</th>
          <th class="encabezado" scope="col">Vínculo *</th>
          <th class="encabezado" scope="col" colspan="2">(J) Género*</th>
        </tr>
        <tr>
          <th class="encabezado">codigo_departamento</th>
          <!-- <th>Nombre Departamento</th> -->
          <th class="encabezado">codigo_seccional</th>
          <!-- <th>Nombre Unidad</th> -->
          <th class="encabezado">codigo_localidad</th>
          <!-- <th>Nombre Localidad</th> -->
          <th class="encabezado">numero_sumario</th>
          <th class="encabezado">fecha_hecho</th>
          <th class="encabezado">hora_hecho</th>
          <th class="encabezado">calle</th>
          <th class="encabezado">altura</th>
          <th class="encabezado">calle_interseccion</th>
          <th class="encabezado">tipo_lugar</th>
          <th class="encabezado">otro_tipo_lugar</th>
          <th class="encabezado">clase_arma</th>
          <th class="encabezado">otro_clase_arma</th>
          <th class="encabezado">en_ocasion_otro_delito</th>
          <th class="encabezado">otro_en_ocasion_otro_delito</th>
          <th class="encabezado">motivo_origen_registro</th>
          <th class="encabezado">otro_motivo_origen_registro</th>
          <th class="encabezado">sistema_coordenadas</th>
          <th class="encabezado">latitud</th>
          <th class="encabezado">longitud</th>
          <th class="encabezado">observaciones</th>
          <th class="encabezado">documento_victima</th>
          <th class="encabezado">nombre_victima</th>
          <th class="encabezado">apellido_victima</th>
          <th class="encabezado">sexo_victima</th>
          <th class="encabezado">edad_victima</th>
          <th class="encabezado">clase_victima</th>
          <th class="encabezado">otro_clase_victima</th>
          <th class="encabezado">situacion_ocupacional_victima</th>
          <th class="encabezado">otro_situacion_ocupacional_victima</th>
          <th class="encabezado">identidad_genero_victima</th>
          <th class="encabezado">otro_identidad_genero_victima</th>
          <th class="encabezado">sexo_imputado</th>
          <th class="encabezado">edad_imputado</th>
          <th class="encabezado">clase_imputado</th>
          <th class="encabezado">otro_clase_imputado</th>
          <th class="encabezado">relacion_victima_imputado</th>
          <th class="encabezado">identidad_genero_imputado</th>
          <th class="encabezado">otro_identidad_genero_imputado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td class="celda">{{ item.codigoDpto }}</td>
          <!-- <td>{{ item.nombreDpto }}</td> -->
          <td class="celda">{{ item.codigoUnidad }}</td>
          <!-- <td>{{ item.nombreUnidad }}</td> -->
          <td class="celda">{{ item.codigoLocalidad }}</td>
          <!-- <td>{{ item.nombreLocalidad }}</td> -->
          <td class="celda">{{ item.nroPreventivo }}</td>
          <td class="celda">{{ item.fechaHecho | date : "dd/MM/yyyy" }}</td>
          <td class="celda">{{ item.horaHecho }}</td>
          <td class="celda">{{ verificarDireccion(item.nombreCalle, item.dirAdicional) }}</td>
          <td class="celda">{{ item.alturaCalle }}</td>
          <td class="celda">{{ item.interseccionCalle }}</td>
          <td class="celda">
            {{
              tipoLugar(
                item.viaPublica,
                item.domParticular,
                item.comercio,
                item.interiorRodados,
                item.carcelComisaria,
                item.otroLugar
              )
            }}
          </td>
          <td class="celda">{{ item.otroLugarEsp }}</td>
          <td class="celda">
            {{
              arma(item.armaFuego, item.armaBlanca, item.otraArma, item.sinArma)
            }}
          </td>
          <td class="celda">{{ item.otraArmaEsp }}</td>
          <td class="celda">
            {{
              ocacionDelito(
                item.siRobo,
                item.abusoSexual,
                item.otroDelito,
                item.noOtroDelito
              )
            }}
          </td>
          <td class="celda">{{ item.otroDelitoEsp }}</td>
          <td class="celda">{{ intervencion(item.interPolicial) }}</td>
          <td class="celda">s/d</td>
          <td class="celda">1</td>
          <td class="celda">{{ cortarCadena(item.latitud) }}</td>
          <td class="celda">{{ cortarCadena(item.longitud) }}</td>
          <td class="celda">{{ item.observacionAmpl }}</td>
          <td class="celda">{{ item.dniVctima }}</td>
          <td class="celda">{{ item.nombreVictima }}</td>
          <td class="celda">{{ item.apellidoVictima }}</td>
          <td class="celda">{{ item.codigoSexo }}</td>
          <td class="celda">{{ item.edadVictima }}</td>
          <td class="celda">{{ item.claseVictima }}</td>
          <td class="celda">{{ item.especifClaseVic }}</td>
          <td class="celda">{{ item.codigoOcupacion }}</td>
          <td class="celda">{{ item.especOcupacion }}</td>
          <td class="celda">{{ item.codigoGenero }}</td>
          <td class="celda">{{ item.especGenero }}</td>
          <td class="celda">{{ item.codigoSexInculpado }}</td>
          <td class="celda">{{ item.edadInculpado }}</td>
          <td class="celda">{{ item.claseInculpado }}</td>
          <td class="celda">{{ item.especifClaseInc }}</td>
          <td class="celda">{{ item.codigoVinculo }}</td>
          <td class="celda">{{ item.codGeneroInculp }}</td>
          <td class="celda">{{ item.especifGeneroInc }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class="row">
  <div class="container">
    <button class="btn btn-info" (click)="exportarExcel('planillaHd.xlsx')">
      <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Descargar
      planilla
    </button>
    &nbsp;
    <button class="btn btn-primary" (click)="back()">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Volver a
      Pantalla Principal
    </button>
  </div>
</div>
