<nav class="navbar navbar-expand-lg navbar-primary bg-light">
  <div class="container-fluid">
    <a id="titulo" class="navbar-brand" [routerLink]="['/principal']">
      <img src="./assets/img/escudo.png" alt="" width="30" height="33" />
      &nbsp;<b> SPECCH </b>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li
          *ngIf="rol == 'MANAGER' || rol == 'DEVELOPER'"
          ngif
          class="nav-item"
        >
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/lst-usuarios/']"
          >
            <i class="fa fa-users" aria-hidden="true"></i>
            <b> Usuarios </b></a
          >
        </li>

        <!-- *ngIf="rol == 'DEVELOPER'" -->

        <li
          *ngIf="
            rol == 'MANAGER' || rol == 'ADMINISTRADOR' || rol == 'DEVELOPER'
          "
          class="nav-item dropdown"
        >
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-table" aria-hidden="true"></i>
            Tablas
          </a>
          <ul
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
            style="width: 300px; height: 150px; overflow: auto"
          >
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-delito/']"
                >Delitos</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-lugar/']"
                >Lugares</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-medio/']"
                >Medios Utilizados</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-objeto/']"
                >Objetos</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-barrio/']"
                >Barrios</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-calle/']">Calles</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-dncp/']"
                >Delitos D.N.P.C</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-departamento/']"
                >Departamentos</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-localidad/']"
                >Localidades</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-modalidad/']"
                >Modalidad</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-naciones/']"
                >Nacionalidad</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-estudio/']"
                >Nivel de estudios</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-ocupacion/']"
                >Ocupaciones</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-provincia/']"
                >Provincias</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-sexo/']">Sexos</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-unidades/']"
                >Unidades</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-vinculo/']"
                >Vínculos</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-identidadGenero/']"
                >Identidad de Género</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-tipoMoneda/']"
                >Tipo de Moneda</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-marcas/']"
                >Marcas de armas</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-marcasVehiculos/']"
                >Marcas de vehículos</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-modelos/']"
                >Modelo de vehículos</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-marcasMoto/']"
                >Marcas de motocicletas</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-modelosMoto/']"
                >Modelos de motocicletas</a
              >
            </li>
          </ul>
        </li>
        <!-- <li *ngIf="rol == 'MANAGER'" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-plus-square" aria-hidden="true"></i>
            Otros:
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-contravencion/']"
                >Contravenciones</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-colisiones/']"
                >Colisiones</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/lst-lesiones/']"
                >Lesiones Leves</a
              >
            </li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/lst-preventivo/']"
          >
            <i class="fa fa-archive" aria-hidden="true"></i>
            Preventivos</a
          >
        </li>
        <!-- *ngIf="rol == 'DEVELOPER'" -->
        <div *ngIf="rol != 'VISTA'" class="dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownMenuButton"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
            Planillas
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item"> Planillas para S.N.I.C. &raquo; </a>
              <ul class="dropdown-menu dropdown-submenu">
                <!-- <li>
                  <a class="dropdown-item" [routerLink]="['/planillaHechosDelictivos/abm']">Planillas de Hechos Delictuosos</a>
                </li>
                <li >
                  <a class="dropdown-item" >Delitos contra la propiedad</a>
                </li> -->
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="['/planillaHomicidiosDolosos/abm']"
                    >Planilla Homicidios Dolosos</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="['/planillaMuerteVial/abm']"
                    >Homicidios Culposos Acc. Tránsito</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="['/planillaSuicidios/abm']"
                    >Suicidios</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="['/planillaDelPropiedad/abm']"
                    >Delitos contra la Propiedad</a
                  >
                </li>
              </ul>
            </li>
            <!-- <li>
              <a class="dropdown-item" [routerLink]="['/planillaDelPropiedad/abm']"
                >Delitos contra la Propiedad</a
              >
            </li> -->
            <!-- <li>
              <a class="dropdown-item" href="#">Another action</a>
            </li> -->
          </ul>
        </div>
      </ul>
      <form class="d-flex">
        <div class="col-md-12">
          <label id="ROL" for="Name">
            USUARIO: <b> {{ rol | uppercase }} </b></label
          >
          &nbsp;&nbsp;&nbsp;
          <label id="label" for="Name">
            <b> {{ usuario | uppercase }} </b></label
          >
          &nbsp; &nbsp;
          <button
            (click)="cerrar()"
            class="btn btn-primary btn-circle"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="Cerrar sesión"
            type="button"
          >
            <i class="fa fa-power-off" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>
