<br />
<hr />
<div class="container-xxl">
  <div class="row">
    <div class="col-md-12 alert alert-primary text-center">
      <h3><b>VISTA PREVIA - "PLANILLA HOMICIDIOS CULPOSOS EN ACCIDENTES DE TRANSITO"</b></h3>
    </div>
  </div>
  <div class="row" id="table" #table>
    <table id="tablaHd" class="table text-center">
      <thead>
        <tr>
          <th class="encabezado" scope="col" colspan="17">DATOS DEL HECHO</th>
          <th class="encabezado" scope="col" colspan="11">
            DATOS DE LA VICTIMA
          </th>
          <th class="encabezado" scope="col" colspan="6">DATOS DEL IMPUTADO</th>
        </tr>
        <tr>
          <!-- Datos del hecho -->
          <th class="encabezado" scope="col">
            Código de Departamento* (según codificación INDEC)
          </th>
          <!-- <th scope="col">Nombre Departamento</th> -->
          <th class="encabezado" scope="col">
            Número de Seccional* (según codificación reportada a INDEC)
          </th>
          <!-- <th scope="col">Nombre Unidad</th> -->
          <th class="encabezado" scope="col">
            Código de Localidad* (según codificación INDEC)
          </th>
          <!-- <th scope="col">Nombre Localidad</th> -->
          <th class="encabezado" scope="col">Nº de Sumario</th>
          <th class="encabezado" scope="col">Fecha del hecho*</th>
          <th class="encabezado" scope="col">Hora del hecho*</th>
          <th class="encabezado" scope="col">Nombre de la calle o ruta*</th>
          <th class="encabezado" scope="col">Altura / Nro.*</th>
          <th class="encabezado" scope="col">Calle Intersección</th>
          <th class="encabezado" scope="col">Semáforo (A)</th>
          <th class="encabezado" scope="col">(B) Tipo de lugar*</th>
          <th class="encabezado" scope="col" colspan="2">
            (c) Modo de Producción del Hecho* Especificar sólo código 5
          </th>
          <th class="encabezado" scope="col" colspan="2">
            (D) Condiciones Climáticas *
          </th>
          <th class="encabezado" scope="col" colspan="2">
            (E) Motivo que origina el registro del hecho* Especificar sólo
            código 4
          </th>
          <!-- Dato de la Victima -->
          <th class="encabezado" scope="col">Nro. Documento</th>
          <th class="encabezado" scope="col">Nombre</th>
          <th class="encabezado" scope="col">Apellido</th>
          <th class="encabezado" scope="col">(F) Sexo*</th>
          <th class="encabezado" scope="col">Edad*</th>
          <th class="encabezado" scope="col" colspan="2">
            (G) Clase de Victima* Especificar sólo código 5
          </th>
          <th class="encabezado" scope="col" colspan="2">
            (H) Vehículo Victima (Excluir peatón)* Especificar sólo código 10
          </th>
          <th class="encabezado" scope="col" colspan="2">
            (J) Género* Especificar sólo código 5
          </th>
          <!-- Datos del imputado -->
          <th class="encabezado" scope="col">(F) Sexo*</th>
          <th class="encabezado" scope="col">Edad*</th>
          <th class="encabezado" scope="col" colspan="2">(H) Vehículo del Imputado* Especificar sólo código 10</th>
          <th class="encabezado" scope="col" colspan="2">(J) Género* Especificar sólo código 5</th>
        </tr>
        <tr>
          <th class="encabezado">codigo_departamento</th>
          <!-- <th>Nombre Departamento</th> -->
          <th class="encabezado">codigo_seccional</th>
          <!-- <th>Nombre Unidad</th> -->
          <th class="encabezado">codigo_localidad</th>
          <!-- <th>Nombre Localidad</th> -->
          <th class="encabezado">numero_sumario</th>
          <th class="encabezado">fecha_hecho</th>
          <th class="encabezado">hora_hecho</th>
          <th class="encabezado">calle</th>
          <th class="encabezado">altura</th>
          <th class="encabezado">calle_interseccion</th>
          <th class="encabezado">estado_semaforo</th>
          <th class="encabezado">tipo_lugar</th>
          <th class="encabezado">modo_hecho</th>
          <th class="encabezado">otro_modo_hecho</th>
          <th class="encabezado">clima</th>
          <th class="encabezado">otro_clima</th>
          <th class="encabezado">motivo_origen_registro</th>
          <th class="encabezado">otro_motivo_origen_registro</th>
          <th class="encabezado">documento_victima</th>
          <th class="encabezado">nombre_victima</th>
          <th class="encabezado">apellido_victima</th>
          <th class="encabezado">sexo_victima</th>
          <th class="encabezado">edad_victima</th>
          <th class="encabezado">clase_victima</th>
          <th class="encabezado">otra_clase_victima</th>
          <th class="encabezado">vehiculo_victima</th>
          <th class="encabezado">otro_vehiculo_victima</th>
          <th class="encabezado">identidad_genero_victima</th>
          <th class="encabezado">otro_identidad_genero_victima</th>
          <th class="encabezado">sexo_imputado</th>
          <th class="encabezado">edad_imputado</th>
          <th class="encabezado">vehiculo_imputado</th>
          <th class="encabezado">otro_vehiculo_imputado</th>
          <th class="encabezado">identidad_genero_imputado</th>
          <th class="encabezado">otro_identidad_genero_imputado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td class="celda">{{ item.codigoDpto }}</td>
          <!-- <td>{{ item.nombreDpto }}</td> -->
          <td class="celda">{{ item.codigoUnidad }}</td>
          <!-- <td>{{ item.nombreUnidad }}</td> -->
          <td class="celda">{{ item.codigoLocalidad }}</td>
          <!-- <td>{{ item.nombreLocalidad }}</td> -->
          <td class="celda">{{ item.nroPreventivo }}</td>
          <td class="celda">{{ item.fechaHecho | date : "dd/MM/yyyy" }}</td>
          <td class="celda">{{ item.horaHecho }}</td>
          <td class="celda">{{ item.nombreCalle }} {{item.dirAdicionalCalle}}</td>
          <td class="celda">{{ item.alturaCalle }}</td>
          <td class="celda">{{ item.calleInterseccion }}</td>
          <td class="celda">
            {{
              semaforo(
                item.semaforoFunciona,
                item.semaforoNoFunciona,
                item.sinSemaforo,
                item.semaforoIntermitente,
                item.sinDeterminarSemaforo
              )
            }}
          </td>
          <td class="celda">
            {{
              tipoLugar(
                item.lugarCalle,
                item.rutaNacional,
                item.rutaProvincial,
                item.autopistaNacional,
                item.autopistaProvincial,
                item.autovia,
                item.sinDeterminarLugar
              )
            }}
          </td>
          <!-- <td class="celda">{{ item.otroLugarEsp }}</td> -->
          <td class="celda">
            {{
              modoProduccion(
                item.vehiculoPeaton,
                item.vehiculoVehiculo,
                item.vehiculoObjeto,
                item.vuelcoDespiste,
                item.otroModoProd,
                item.sinDeterminarModoProd
              )
            }}
          </td>
          <td class="celda">{{ item.especificarModoProd }}</td>
          <td class="celda">
            {{
              clima(
                item.climaNormal,
                item.niebla,
                item.lluvia,
                item.llovizna,
                item.granizo,
                item.nublado,
                item.otraCondicion,
                item.sinDeterminarCondicion
              )
            }}
          </td>
          <td class="celda">{{ item.especifCondicionClima }}</td>
          <td class="celda">{{ intervencion(item.intervencionPolicial) }}</td>
          <td class="celda"></td>
          <td class="celda">{{ item.numeroDocumentoVict }}</td>
          <td class="celda">{{ item.nombreVictima }}</td>
          <td class="celda">{{ item.apellidoVictima }}</td>
          <td class="celda">{{ item.sexoVictima }}</td>
          <td class="celda">{{ item.edadVictima }}</td>
          <td class="celda">{{ item.claseVictima }}</td>
          <td class="celda">{{ item.especifClaseVict }}</td>
          <td class="celda">{{ item.vehiculoVictima }}</td>
          <td class="celda">{{ item.especifVehiculoVict }}</td>
          <td class="celda">{{ item.generoVictima }}</td>
          <td class="celda">{{ item.especifGenero }}</td>
          <td class="celda">{{ item.sexoInculpado }}</td>
          <td class="celda">{{ item.edadInculpado }}</td>
          <td class="celda">{{ item.vehiculoInputado }}</td>
          <td class="celda">{{ item.vehiculoClase }}</td>
          <td class="celda">{{ item.generoInculpado }}</td>
          <td class="celda">{{ item.especifGeneroInc }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class="row">
  <div class="container">
    <button
      class="btn btn-info"
      (click)="exportarExcel('planillaMuertesViales.xlsx')"
    >
      <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Descargar
      planilla
    </button>
    &nbsp;
    <button class="btn btn-primary" (click)="back()">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Volver a
      Pantalla Principal
    </button>
  </div>
</div>
