<div class="container">
  <h3 class="alert alert-info text-center" role="alert">
    Panel Medios Utilizados
  </h3>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <center>
        <h5>
          <b
            ><em><u>DATOS A CARGAR:</u></em></b
          >
        </h5>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="Nombre" class="col-sm-12 col-form-label">
        Fecha Secuestro:</label
      >
      <input
        [(ngModel)]="item.fecha"
        id="codigo"
        type="date"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-4">
      <label for="" class="col-sm-12 col-form-label">Medio:</label>
      <input
        (ngModelChange)="filtrarMedio()"
        [(ngModel)]="busqueda"
        name="busqueda"
        type="text"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
      <select
        *ngIf="Mitems.length > 0 && this.busqueda"
        name="Mitem"
        [(ngModel)]="Mitem"
        class="form-control"
        (ngModelChange)="capturar($event)"
        [ngModelOptions]="{ standalone: true }"
      >
        <option *ngFor="let Mitem of Mitems" [ngValue]="Mitem">
          {{ Mitem.descripcion }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <center>
        <label for="Nombre" class="col-sm-12 col-form-label"> Secuestro:</label>
        <input
          [(ngModel)]="item.secuestro"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </center>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <ng-container
        *ngIf="mostrarBtnModif; then thenTemplate; else elseTemplate"
      ></ng-container>
      <ng-template #thenTemplate>
        <div class="row">
          <center>
            <button
              id="boton"
              type="button"
              title="Modificar datos"
              placement="top"
              (click)="actualizarDatos(this.item)"
              show-delay="10"
              class="btn btn-primary"
            >
              <i class="fa fa-edit" aria-hidden="true"></i>
              Guardar modificación
            </button>
          </center>
        </div>
      </ng-template>
      <ng-template #elseTemplate>
        <div class="row">
          <center>
            <button
              id="boton"
              type="button"
              title="Guardar"
              placement="top"
              (click)="guardar()"
              show-delay="10"
              class="btn btn-outline-info"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
              Agregar a tabla
            </button>
          </center>
        </div>
      </ng-template>
    </div>
  </div>
  <hr />
  <div class="row">
    <table id="tabla" class="table">
      <thead class="text-center table-primary">
        <tr>
          <th>Código Medio</th>
          <th>Descripción</th>
          <th>Secuestro</th>
          <th>Fecha</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of items" class="text-center {{ colores(i) }}">
          <ng-container
            *ngIf="i.id > 0; then thenTemplate; else elseTemplate"
          ></ng-container>
          <ng-template #thenTemplate>
            <td>
              {{ i.medioNavigation?.codMedio }} -
              {{ i.medioNavigation?.codTipo }}
            </td>
            <td>{{ i.medioNavigation?.descripcion }}</td>
          </ng-template>
          <ng-template #elseTemplate>
            <td>{{ i.codigo }}</td>
            <td>{{ i.capturaDescripcion }}</td>
          </ng-template>
          <td>{{ valor(i.secuestro) }}</td>
          <td>{{ i.fecha | date: "dd/MM/yyyy" }}</td>

          <!-- editar y guardar -->
          <ng-container
            *ngIf="i.id > 0; then mostrar; else noMostrar"
          ></ng-container>
          <ng-template #mostrar>
            <!-- muestra el eliminar -->
            <ng-container
              *ngIf="
                mostrarBtnModif && idSeleccion == i.id;
                then thenTemplate;
                else elseTemplate
              "
            ></ng-container>
            <ng-template #thenTemplate>
              <td>
                <button
                  type="button"
                  title="Cancelar Modificación"
                  placement="top"
                  show-delay="10"
                  (click)="cancelarModificacion()"
                  class="btn btn-success btn-circle"
                >
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </td>
            </ng-template>
            <ng-template #elseTemplate>
              <td>
                <ng-container
                  *ngIf="
                    i.medioNavigation?.descripcion == 'REVOLVER' ||
                    i.medioNavigation?.descripcion == 'PISTOLA' ||
                    i.medioNavigation?.descripcion == 'OTRAS ARMAS DE PUÑO' ||
                    i.medioNavigation?.descripcion == 'ESCOPETA' ||
                    i.medioNavigation?.descripcion == 'OTRAS ARMAS LARGAS' ||
                    i.medioNavigation?.descripcion == 'RIFLE'
                  "
                >
                   <button
                      type="button"
                      title="Agregar detalle del arma"
                      placement="top"
                      show-delay="10"
                      (click)="seleccionado(i.id)"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      class="color btn-circle"
                    >
                      <i class="fa fa-info" aria-hidden="true"></i>
                    </button>
                </ng-container>
                &nbsp;
                <button
                  type="button"
                  title="Modificar"
                  placement="top"
                  show-delay="10"
                  (click)="traerDatos(i.id)"
                  class="btn btn-warning btn-circle"
                >
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                &nbsp;
                <button
                  type="button"
                  title="Eliminar"
                  placement="top"
                  show-delay="10"
                  (click)="preDelete(i)"
                  class="btn btn-danger btn-circle"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </ng-template>
          </ng-template>
          <ng-template #noMostrar>
            <!-- saca de la lista -->
            <td>
              <button
                type="button"
                title="Eliminar de la lista"
                placement="top"
                show-delay="10"
                (click)="deleteRow(i)"
                class="btn btn-info btn-circle"
              >
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    *ngIf="items.length === 0"
    class="alert alert-primary alert-dismissible fade show"
    role="alert"
  >
    <center>
      <strong>No hay datos</strong>
    </center>
  </div>
  <hr />

  <div class="row">
    <!-- <button
      *ngIf="!mostrarBtnModif"
      class="btn btn-dark"
      type="button"
      (click)="agregarDato()"
    >
      Guardar
    </button>
    &nbsp; -->
    <button class="btn btn-info" type="button" (click)="back()">
      Cancelar
    </button>
  </div>
</div>
<br />

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle del Arma:</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <app-fil-arma (emmit)="doFound($event)"></app-fil-arma>
          </div>
          <div class="col-md-4">
            <label for="Nombre" class="col-sm-12 col-form-label">
              Calibre:</label
            >
            <input
              [(ngModel)]="itemArma.calibre"
              type="text"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-md-4">
            <label for="Nombre" class="col-sm-12 col-form-label">
              Serie n°:</label
            >
            <input
              [(ngModel)]="itemArma.serie"
              type="text"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <br />
        <div
          *ngIf="
            itemArma.marcaArma != undefined || itemArma.calibre != undefined
          "
          class="row alert alert-info"
          role="alert"
        >
          <div class="col-md-4">
            <label for="" class="col-sm-12 col-form-label">
              Marca del Arma: <b>{{ itemArma?.marcaArma }}</b></label
            >
          </div>
          <div class="col-md-4">
            <label for="" class="col-sm-12 col-form-label">
              Calibre: <b>{{ itemArma?.calibre }}</b></label
            >
          </div>
          <div class="col-md-4">
            <label for="" class="col-sm-12 col-form-label">
              N° serie: <b>{{ itemArma?.serie }}</b></label
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="arma">
          <ng-container
            *ngIf="itemArma.id > 0; then thenTemplate; else elseTemplate"
          ></ng-container>
          <ng-template #thenTemplate>
            <button
              type="button"
              class="btn btn-warning"
              (click)="actualizarArmas(itemArma)"
              data-bs-dismiss="modal"
            >
              Modificar datos
            </button>
          </ng-template>
          <ng-template #elseTemplate>
            <button
              type="button"
              class="btn btn-primary"
              (click)="guardarArma()"
              data-bs-dismiss="modal"
            >
              Guardar
            </button>
          </ng-template>
        </ng-container>
        &nbsp;
        <button
          type="button"
          class="btn btn-danger"
          (click)="cancelar()"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
