<div class="container">
    <h3 class="alert alert-info text-center" role="alert">Panel ABM Sexo</h3>
    <hr />
    <form class="text-center" [formGroup]="form" (ngSubmit)="doAction()">
      <div class="form-group row">
        <div class="col-md-6">
          <label for="Nombre" class="col-sm-12 col-form-label">
            Código:</label
          >
          <input
            [(ngModel)]="item.codigo"
            id="codigo"
            type="text"
            class="form-control"
            formControlName="codigo"
            [ngClass]="{ 'is-invalid': enviado && f['codigo'].errors }"
          />
          <div *ngIf="enviado && f['codigo'].errors" class="invalid-feedback">
            <div *ngIf="f['codigo'].errors['required']">
              Campo obligatorio
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <label for="Nombre" class="col-sm-12 col-form-label"> Descripción:</label>
            <input
              [(ngModel)]="item.descripcion"
              type="text"
              class="form-control"
              formControlName="descripcion"
              [ngClass]="{ 'is-invalid': enviado && f['descripcion'].errors }"
            />
            <div *ngIf="enviado && f['descripcion'].errors" class="invalid-feedback">
              <div *ngIf="f['descripcion'].errors['required']">Campo obligatorio</div>
            </div> 
        </div>
      </div>
      <br />
      <hr />
      <div class="row">
        <button class="btn btn-dark" type="submit">Guardar</button>
        &nbsp;
        <button class="btn btn-info" type="button" (click)="back()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <br />
  