.card-body {
  background-color: bisque !important;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
#boton {
  position: relative;
  top: 12px;
  // left: -60px;
}
.t-success {
  //background-color: lightgreen !important;
  color: green !important;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}

.color {
  background-color: #e0144c;
}

.colorAuto{
    background-color: #8758FF;
}

.colorMoto{
  background-color: #E14D2A;
}

#colorHeader{
  background-color: #EEF1FF;
}

.btn-disabled{
  background-color: #40E0D0;
}