<div class="container">
  <h3 class="alert alert-info text-center" role="alert">Panel Objetos</h3>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <center>
        <h5>
          <b
            ><em><u>DATOS A CARGAR:</u></em></b
          >
        </h5>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="" class="col-sm-12 col-form-label">Filtro Objeto:</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <input
          (keyup.enter)="filtrarObjeto()"
          [(ngModel)]="busqueda"
          name="busqueda"
          type="text"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Ingrese nombre del objeto"
        />
      </div>
      <select
        *ngIf="Oitems.length > 0 && this.busqueda"
        name="Oitem"
        [(ngModel)]="Oitem"
        class="form-select form-select-lm mb-3" 
        aria-label=".form-select-lg example"
        (ngModelChange)="capturar($event)"
        [ngModelOptions]="{ standalone: true }"
      >
        <option *ngFor="let Oitem of Oitems" [ngValue]="Oitem">
          {{ Oitem.descripcion }}
        </option>
      </select>
    </div>
    <ng-container *ngIf="idSeleccion > 0 && this.busqueda == 'DINERO EN EFECTIVO'; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
      <!-- <div class="col-md-2">
        <label for="Nombre" class="col-sm-12 col-form-label"> Cantidad:</label>
        <input
          id="codigo"
          type="number"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
          disabled
        />
      </div> -->
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label"> Valor:</label>
        <input
          [(ngModel)]="item.valor"
          id="codigo"
          type="text"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <app-combo-moneda
        [dibujar]="item.monedaNavigation"
        (emitir)="seleccionMoneda($event)"
      ></app-combo-moneda>
      </div>
    </ng-template>
    <ng-template #elseTemplate>
      <ng-container
      *ngIf="
        item.objeto > 0 && item.capturaObj == 'DINERO EN EFECTIVO';
        then thenTemplate;
        else elseTemplate
      "
    ></ng-container>
    <ng-template #thenTemplate>
      <!-- <div class="col-md-2">
        <label for="Nombre" class="col-sm-12 col-form-label"> Cantidad:</label>
        <input
          id="codigo"
          type="number"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
          disabled
        />
      </div> -->
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label"> Valor:</label>
        <input
          [(ngModel)]="item.valor"
          id="codigo"
          type="text"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <app-combo-moneda
        [dibujar]="item.monedaNavigation"
        (emitir)="seleccionMoneda($event)"
      ></app-combo-moneda>
      </div>
    </ng-template>
    <ng-template #elseTemplate>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label"> Cantidad:</label>
        <input
          [(ngModel)]="item.cantidad"
          id="codigo"
          type="number"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label"> Valor:</label>
        <input
          type="text"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
          disabled
        />
      </div>
    </ng-template>
    </ng-template>
  </div>
  <div class="row">
    <div class="col-md-4">
      <center>
        <label for="Nombre" class="col-sm-12 col-form-label"> Secuestro:</label>
        <input
          [(ngModel)]="item.secuestro"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </center>
    </div>
    <div class="col-md-4">

      <label for="Nombre" class="col-sm-12 col-form-label">
        Fecha de secuestro:</label
      >
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><i class="fa fa-calendar" aria-hidden="true"></i
        ></span>
        <input
          [(ngModel)]="item.fecha"
          type="text"
          placeholder="00-00-0000"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
          bsDatepicker
          [bsConfig]="{
            dateInputFormat: 'DD-MM-YYYY',
            containerClass: 'theme-blue'
          }"
        />
      </div>
    </div>
    <div class="col-md-4">
      <label for="Nombre" class="col-sm-12 col-form-label">
        Cantidad Secuestro:</label
      >
      <input
        [(ngModel)]="item.cantSecuestro"
        name="cantSecuestro"
        type="text"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="!guardando">
        <ng-container
        *ngIf="mostrarBtnModif; then mostrar; else noMostrar"
      ></ng-container>
      <ng-template #mostrar>
        <div class="row">
          <center>
            <button
              id="boton"
              type="button"
              title="Modificar datos"
              placement="top"
              (click)="actualizarDatos(this.item)"
              show-delay="10"
              class="btn btn-primary"
            >
              <i class="fa fa-edit" aria-hidden="true"></i>
              Guardar modificación
            </button>
          </center>
        </div>
      </ng-template>
      <ng-template #noMostrar>
        <div class="row">
          <center>
            <button
              id="boton"
              type="button"
              title="Guardar"
              placement="top"
              (click)="guardar()"
              show-delay="10"
              class="btn btn-outline-info"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
              Agregar a tabla
            </button>
          </center>
        </div>
      </ng-template>
      </ng-container>
      <ng-container *ngIf="guardando">
        <center>
          <button id="boton" class="btn btn-disabled" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Guardando datos...
          </button>
        </center>
      </ng-container>
      
    </div>
  </div>
  <br />
  <div class="row">
    <table id="tabla" class="table">
      <thead class="text-center table-primary">
        <tr>
          <th>Código Objeto</th>
          <th>Descripción</th>
          <th>Secuestro</th>
          <th>Valor</th>
          <th>Fecha</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of items" class="text-center {{ colores(i) }}">
          <ng-container
            *ngIf="i.id > 0; then thenTemplate; else elseTemplate"
          ></ng-container>
          <ng-template #thenTemplate>
            <td>
              {{ i.objetoNavigation?.codTipo }} -
              {{ i.objetoNavigation?.codSubTipo }}
            </td>
            <td>{{ i.objetoNavigation.descripcion }}</td>
          </ng-template>
          <ng-template #elseTemplate>
            <td>{{ i.codigo }}</td>
            <td>{{ i.capturaObj }}</td>
          </ng-template>
          <td>{{ valor(i.secuestro) }}</td>
          <td>{{ i.valor }} {{i.monedaNavigation?.nombre}}</td>
          <td>{{ i.fecha | date: "dd/MM/yyyy" }}</td>

          <!-- editar y guardar -->
          <ng-container
            *ngIf="i.id > 0; then mostrar; else noMostrar"
          ></ng-container>
          <ng-template #mostrar>
            <!-- muestra el eliminar -->
            <ng-container
              *ngIf="
                mostrarBtnModif && idSeleccion == i.id;
                then thenTemplate;
                else elseTemplate
              "
            ></ng-container>
            <ng-template #thenTemplate>
              <td>
                <button
                  type="button"
                  title="Cancelar Modificación"
                  placement="top"
                  show-delay="10"
                  (click)="cancelarModificacion()"
                  class="btn btn-success btn-circle"
                >
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </td>
            </ng-template>
            <ng-template #elseTemplate>
              <td>
                <ng-container
                  *ngIf="
                    i.objetoNavigation?.descripcion == 'REVOLVER' ||
                    i.objetoNavigation?.descripcion == 'PISTOLA' ||
                    i.objetoNavigation?.descripcion == 'OTRAS ARMAS DE PUÑO' ||
                    i.objetoNavigation?.descripcion == 'ESCOPETA' ||
                    i.objetoNavigation?.descripcion == 'OTRAS ARMAS LARGAS' ||
                    i.objetoNavigation?.descripcion == 'RIFLE'
                  "
                >
                  <button
                    type="button"
                    title="Agregar detalle del arma"
                    placement="top"
                    show-delay="10"
                    (click)="seleccionado(i)"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal1"
                    class="color btn-circle"
                  >
                    <i class="fa fa-info" aria-hidden="true"></i>
                  </button>
                </ng-container>
                <ng-container
                  *ngIf="
                    i.objetoNavigation?.descripcion == 'CUATRICICLO' ||
                    i.objetoNavigation?.descripcion == 'MOTOCICLETA'
                  "
                >
                  <button
                    type="button"
                    title="Agregar detalle de la motocicleta"
                    placement="top"
                    show-delay="10"
                    (click)="seleccionadoMoto(i)"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal3"
                    class="colorMoto btn-circle"
                  >
                    <i class="fa fa-info" aria-hidden="true"></i>
                  </button>
                </ng-container>
                <ng-container
                  *ngIf="
                    i.objetoNavigation?.descripcion == 'AUTO' ||
                    i.objetoNavigation?.descripcion == 'CAMIONETA' ||
                    i.objetoNavigation?.descripcion == 'CAMION' ||
                    i.objetoNavigation?.descripcion == 'COLECTIVO' ||
                    i.objetoNavigation?.descripcion ==
                      'MICRO LARGA DISTANCIA' ||
                    i.objetoNavigation?.descripcion == 'TREN' ||
                    i.objetoNavigation?.descripcion == 'TRACTOR'
                  "
                >
                  <button
                    type="button"
                    title="Agregar detalle del automóvil"
                    placement="top"
                    show-delay="10"
                    (click)="seleccionadoAuto(i)"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal2"
                    class="colorAuto btn-circle"
                  >
                    <i class="fa fa-info" aria-hidden="true"></i>
                  </button>
                </ng-container>
                &nbsp;
                <button
                  type="button"
                  title="Modificar"
                  placement="top"
                  show-delay="10"
                  (click)="traerDatos(i.id)"
                  class="btn btn-warning btn-circle"
                >
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                &nbsp;
                <button
                  type="button"
                  title="Eliminar"
                  placement="top"
                  show-delay="10"
                  (click)="preDelete(i)"
                  class="btn btn-danger btn-circle"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </ng-template>
          </ng-template>
          <ng-template #noMostrar>
            <!-- saca de la lista -->
            <td>
              <button
                type="button"
                title="Eliminar de la lista"
                placement="top"
                show-delay="10"
                (click)="deleteRow(i)"
                class="btn btn-info btn-circle"
              >
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    *ngIf="items.length === 0"
    class="alert alert-primary alert-dismissible fade show"
    role="alert"
  >
    <center>
      <strong>No hay datos</strong>
    </center>
  </div>
  <hr />
  <div class="row">
    <button class="btn btn-info" type="button" (click)="back()">
      Cancelar
    </button>
  </div>
</div>
<br />

<!-- Modal Arma-->
<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div id="colorHeader" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <b> Detalle del Arma:</b>
        </h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <app-fil-arma (emmit)="doFound($event)"></app-fil-arma>
          </div>
          <div class="col-md-4">
            <label for="Nombre" class="col-sm-12 col-form-label">
              Calibre:</label
            >
            <input
              [(ngModel)]="itemArma.calibre"
              type="text"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-md-4">
            <label for="Nombre" class="col-sm-12 col-form-label">
              Serie n°:</label
            >
            <input
              [(ngModel)]="itemArma.serie"
              type="text"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <br />
        <ng-container *ngIf="cantidadSecuestrada == 1">
          <div
            *ngIf="
              itemArma.marcaArma != undefined || itemArma.calibre != undefined
            "
            class="row alert alert-info"
            role="alert"
          >
            <div class="col-md-4">
              <label for="" class="col-sm-12 col-form-label">
                Marca del Arma: <b>{{ itemArma?.marcaArma }}</b></label
              >
            </div>
            <div class="col-md-4">
              <label for="" class="col-sm-12 col-form-label">
                Calibre: <b>{{ itemArma?.calibre }}</b></label
              >
            </div>
            <div class="col-md-4">
              <label for="" class="col-sm-12 col-form-label">
                N° serie: <b>{{ itemArma?.serie }}</b></label
              >
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="cantidadSecuestrada > 1">
          <div class="row">
            <ng-container *ngIf="arma">
              <ng-container
                *ngIf="
                  itemArma.id > 0 && idSeleccionArma;
                  then thenTemplate;
                  else elseTemplate
                "
              ></ng-container>
              <ng-template #thenTemplate>
                <button
                  type="button"
                  class="btn btn-warning"
                  (click)="actualizarArmas(itemArma)"
                >
                  Modificar datos
                </button>
              </ng-template>
              <ng-template #elseTemplate>
                <ng-container
                  *ngIf="
                    itemsArma.length === cantidadSecuestrada;
                    then thenTemplate;
                    else elseTemplate
                  "
                ></ng-container>
                <ng-template #thenTemplate>
                  <hr />
                  <div class="row">
                    <div class="col-md-6 text-center">
                      Cantidad Secuestrada: <b>{{ cantidadSecuestrada }}</b>
                    </div>
                    <div class="col-md-6 text-center">
                      Cantidad de datos cargados: <b>{{ itemsArma.length }}</b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <label for="">
                        <b>
                          Si desea seguir agregando datos, debe modificar la
                          cantidad secuestrada.
                        </b></label
                      >
                    </div>
                  </div>
                  <hr />
                </ng-template>
                <ng-template #elseTemplate>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="guardarArma()"
                  >
                    Guardar
                  </button>
                </ng-template>
              </ng-template>
            </ng-container>
          </div>
          <br />
          <div class="row">
            <table class="table table-striped table-hover text-center">
              <thead>
                <tr>
                  <th scope="col">Acción</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Calibre</th>
                  <th scope="col">Nro. Serie</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of itemsArma">
                  <th scope="row">
                    <ng-container
                      *ngIf="item.id > 0; then mostrar"
                    ></ng-container>
                    <ng-template #mostrar>
                      <!-- muestra el eliminar -->
                      <ng-container
                        *ngIf="
                          mostrarBtnModifArma && idSeleccionArma == item.id;
                          then thenTemplate;
                          else elseTemplate
                        "
                      ></ng-container>
                      <ng-template #thenTemplate>
                        <center>
                          <td>
                            <button
                              type="button"
                              title="Cancelar Modificación"
                              placement="top"
                              show-delay="10"
                              (click)="cancelarModificacionArma()"
                              class="btn btn-success btn-circle"
                            >
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                          </td>
                        </center>
                      </ng-template>
                      <ng-template #elseTemplate>
                        <center>
                          <td>
                            <button
                              type="button"
                              title="Modificar"
                              placement="top"
                              show-delay="10"
                              (click)="traerDatosArma(item.id)"
                              class="btn btn-warning btn-circle"
                            >
                              <i
                                class="fa fa-pencil-square-o"
                                aria-hidden="true"
                              ></i>
                            </button>
                            &nbsp;
                            <button
                              type="button"
                              title="Eliminar"
                              placement="top"
                              show-delay="10"
                              (click)="preDeleteArma(item)"
                              class="btn btn-danger btn-circle"
                            >
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </td>
                        </center>
                      </ng-template>
                    </ng-template>
                  </th>
                  <td>
                    {{ item.armaNavigation?.descripcion }}
                  </td>
                  <td>{{ item.calibre }}</td>
                  <td>{{ item.serie }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            *ngIf="itemsArma.length === 0"
            class="alert alert-primary alert-dismissible fade show"
            role="alert"
          >
            <center>
              <strong>No hay datos</strong>
            </center>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="arma && cantidadSecuestrada == 1">
          <ng-container
            *ngIf="itemArma.id > 0; then thenTemplate; else elseTemplate"
          ></ng-container>
          <ng-template #thenTemplate>
            <button
              type="button"
              class="btn btn-warning"
              (click)="actualizarArmas(itemArma)"
              data-bs-dismiss="modal"
            >
              Modificar datos
            </button>
          </ng-template>
          <ng-template #elseTemplate>
            <button
              type="button"
              class="btn btn-primary"
              (click)="guardarArma()"
              data-bs-dismiss="modal"
            >
              Guardar
            </button>
          </ng-template>
        </ng-container>
        &nbsp;
        <button
          type="button"
          class="btn btn-danger"
          (click)="cancelar()"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal auto-->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div id="colorHeader" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <b> Detalle del Automóvil: </b>
        </h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <app-fil-modelo-auto
              (emmit)="doFoundModelo($event)"
            ></app-fil-modelo-auto>
          </div>
          <div class="col-md-6">
            <label for="Nombre" class="col-sm-12 col-form-label">
              Dominio:</label
            >
            <input
              [(ngModel)]="itemAuto.patente"
              type="text"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <br />
        <ng-container *ngIf="cantidadSecuestrada == 1">
          <div
            *ngIf="
              itemAuto.marcaModeloAuto != undefined ||
              itemAuto.patente != undefined
            "
            class="row alert alert-info"
            role="alert"
          >
            <div class="col-md-6">
              <label for="" class="col-sm-12 col-form-label">
                Marca - Modelo:
                <b
                  >{{ itemAuto.marcaAuto }} - {{ itemAuto.marcaModeloAuto }}</b
                ></label
              >
            </div>
            <div class="col-md-6">
              <label for="" class="col-sm-12 col-form-label">
                Dominio: <b>{{ itemAuto?.patente }}</b></label
              >
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="cantidadSecuestrada > 1">
          <div class="row">
            <ng-container *ngIf="auto">
              <ng-container
                *ngIf="
                  itemAuto.id > 0 && idSeleccionAuto;
                  then thenTemplate;
                  else elseTemplate
                "
              ></ng-container>
              <ng-template #thenTemplate>
                <button
                  type="button"
                  class="btn btn-warning"
                  (click)="actualizarAuto(itemAuto)"
                >
                  Modificar datos
                </button>
              </ng-template>
              <ng-template #elseTemplate>
                <ng-container
                  *ngIf="
                    itemsAuto.length === cantidadSecuestrada;
                    then thenTemplate;
                    else elseTemplate
                  "
                ></ng-container>
                <ng-template #thenTemplate>
                  <hr />
                  <div class="row">
                    <div class="col-md-6 text-center">
                      Cantidad Secuestrada: <b>{{ cantidadSecuestrada }}</b>
                    </div>
                    <div class="col-md-6 text-center">
                      Cantidad de datos cargados: <b>{{ itemsAuto.length }}</b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <label for="">
                        <b>
                          Si desea seguir agregando datos, debe modificar la
                          cantidad secuestrada.
                        </b></label
                      >
                    </div>
                  </div>
                  <hr />
                </ng-template>
                <ng-template #elseTemplate>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="guardarAuto()"
                  >
                    Guardar
                  </button>
                </ng-template>
              </ng-template>
            </ng-container>
          </div>
          <br />
          <div class="row">
            <table class="table table-striped table-hover text-center">
              <thead>
                <tr>
                  <th scope="col">Acción</th>
                  <th scope="col">Marca - Modelo</th>
                  <th scope="col">Dominio</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of itemsAuto">
                  <th scope="row">
                    <ng-container
                      *ngIf="item.id > 0; then mostrar"
                    ></ng-container>
                    <ng-template #mostrar>
                      <!-- muestra el eliminar -->
                      <ng-container
                        *ngIf="
                          mostrarBtnModifAuto && idSeleccionAuto == item.id;
                          then thenTemplate;
                          else elseTemplate
                        "
                      ></ng-container>
                      <ng-template #thenTemplate>
                        <center>
                          <td>
                            <button
                              type="button"
                              title="Cancelar Modificación"
                              placement="top"
                              show-delay="10"
                              (click)="cancelarModificacionAuto()"
                              class="btn btn-success btn-circle"
                            >
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                          </td>
                        </center>
                      </ng-template>
                      <ng-template #elseTemplate>
                        <center>
                          <td>
                            <button
                              type="button"
                              title="Modificar"
                              placement="top"
                              show-delay="10"
                              (click)="traerDatosAuto(item.id)"
                              class="btn btn-warning btn-circle"
                            >
                              <i
                                class="fa fa-pencil-square-o"
                                aria-hidden="true"
                              ></i>
                            </button>
                            &nbsp;
                            <button
                              type="button"
                              title="Eliminar"
                              placement="top"
                              show-delay="10"
                              (click)="preDeleteAuto(item)"
                              class="btn btn-danger btn-circle"
                            >
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </td>
                        </center>
                      </ng-template>
                    </ng-template>
                  </th>
                  <td>
                    {{
                      item.modeloNavigation?.VehiculoMarcaNavigation
                        ?.descripcion
                    }}
                    - {{ item.modeloNavigation?.descripcion }}
                  </td>
                  <td>{{ item.patente }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            *ngIf="itemsAuto.length === 0"
            class="alert alert-primary alert-dismissible fade show"
            role="alert"
          >
            <center>
              <strong>No hay datos</strong>
            </center>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="auto && cantidadSecuestrada == 1">
          <ng-container
            *ngIf="itemAuto.id > 0; then thenTemplate; else elseTemplate"
          ></ng-container>
          <ng-template #thenTemplate>
            <button
              type="button"
              class="btn btn-warning"
              (click)="actualizarAuto(itemAuto)"
              data-bs-dismiss="modal"
            >
              Modificar datos
            </button>
          </ng-template>
          <ng-template #elseTemplate>
            <button
              type="button"
              class="btn btn-primary"
              (click)="guardarAuto()"
              data-bs-dismiss="modal"
            >
              Guardar
            </button>
          </ng-template>
        </ng-container>
        &nbsp;
        <button
          type="button"
          class="btn btn-danger"
          (click)="cancelarAuto()"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Moto-->
<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div id="colorHeader" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <b> Detalle de la motocicleta:</b>
        </h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <app-fil-buscador-modelo-moto
              (emmit)="doFoundModeloMoto($event)"
            ></app-fil-buscador-modelo-moto>
          </div>
          <div class="col-md-4">
            <label for="Nombre" class="col-sm-12 col-form-label">
              Cilindrada:</label
            >
            <input
              [(ngModel)]="itemMoto.cilindrada"
              type="text"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-md-4">
            <label for="Nombre" class="col-sm-12 col-form-label">
              Patente:</label
            >
            <input
              [(ngModel)]="itemMoto.dominio"
              type="text"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="Nombre" class="col-sm-12 col-form-label">
              Nro. Motor:</label
            >
            <input
              [(ngModel)]="itemMoto.nroMotor"
              type="text"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-md-6">
            <label for="Nombre" class="col-sm-12 col-form-label">
              Nro. Cuadro:</label
            >
            <input
              [(ngModel)]="itemMoto.nroCuadro"
              type="text"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <br />
        <ng-container *ngIf="cantidadSecuestrada == 1">
          <div
            *ngIf="
              itemMoto.marcaModeloMoto != undefined &&
              itemMoto.dominio != undefined
            "
            class="row alert alert-info"
            role="alert"
          >
            <div class="col-md-5">
              <label for="" class="col-sm-12 col-form-label">
                Marca - Modelo:
                <b
                  >{{ itemMoto.marcaMoto }} - {{ itemMoto.marcaModeloMoto }}</b
                ></label
              >
            </div>
            <div class="col-md-3">
              <label for="" class="col-sm-12 col-form-label">
                Cilindrada: <b>{{ itemMoto?.cilindrada }}</b></label
              >
            </div>
            <div class="col-md-4">
              <label for="" class="col-sm-12 col-form-label">
                Patente: <b>{{ itemMoto?.dominio }}</b></label
              >
            </div>
          </div>
          <div
            *ngIf="
              itemMoto.nroMotor != undefined && itemMoto.nroCuadro != undefined
            "
            class="row alert alert-info"
          >
            <div class="col-md-6">
              <label for="" class="col-sm-12 col-form-label">
                Número Motor: <b>{{ itemMoto?.nroMotor }}</b></label
              >
            </div>
            <div class="col-md-6">
              <label for="" class="col-sm-12 col-form-label">
                Número Cuadro: <b>{{ itemMoto?.nroCuadro }}</b></label
              >
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="cantidadSecuestrada > 1">
          <div class="row">
            <ng-container *ngIf="moto">
              <ng-container
                *ngIf="
                  itemMoto.id > 0 && idSeleccionMoto;
                  then thenTemplate;
                  else elseTemplate
                "
              ></ng-container>
              <ng-template #thenTemplate>
                <button
                  type="button"
                  class="btn btn-warning"
                  (click)="actualizarMoto(itemMoto)"
                >
                  Modificar datos
                </button>
              </ng-template>
              <ng-template #elseTemplate>
                <ng-container
                  *ngIf="
                    itemsMoto.length === cantidadSecuestrada;
                    then thenTemplate;
                    else elseTemplate
                  "
                ></ng-container>
                <ng-template #thenTemplate>
                  <hr />
                  <div class="row">
                    <div class="col-md-6 text-center">
                      Cantidad Secuestrada: <b>{{ cantidadSecuestrada }}</b>
                    </div>
                    <div class="col-md-6 text-center">
                      Cantidad de datos cargados: <b>{{ itemsMoto.length }}</b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <label for="">
                        <b
                          >Si desea seguir agregando datos, debe modificar la
                          cantidad secuestrada.
                        </b></label
                      >
                    </div>
                  </div>
                  <hr />
                </ng-template>
                <ng-template #elseTemplate>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="guardarMoto()"
                  >
                    Guardar
                  </button>
                </ng-template>
              </ng-template>
            </ng-container>
          </div>
          <br />
          <div class="row">
            <table class="table table-striped table-hover text-center">
              <thead>
                <tr>
                  <th scope="col">Acción</th>
                  <th scope="col">Marca - Modelo</th>
                  <th scope="col">Cilindrada</th>
                  <th scope="col">Patente</th>
                  <th scope="col">Nro. Motor</th>
                  <th scope="col">Nro. Cuadro</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of itemsMoto">
                  <th scope="row">
                    <ng-container
                      *ngIf="item.id > 0; then mostrar"
                    ></ng-container>
                    <ng-template #mostrar>
                      <!-- muestra el eliminar -->
                      <ng-container
                        *ngIf="
                          mostrarBtnModifMoto && idSeleccionMoto == item.id;
                          then thenTemplate;
                          else elseTemplate
                        "
                      ></ng-container>
                      <ng-template #thenTemplate>
                        <center>
                          <td>
                            <button
                              type="button"
                              title="Cancelar Modificación"
                              placement="top"
                              show-delay="10"
                              (click)="cancelarModificacionMoto()"
                              class="btn btn-success btn-circle"
                            >
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                          </td>
                        </center>
                      </ng-template>
                      <ng-template #elseTemplate>
                        <center>
                          <td>
                            <button
                              type="button"
                              title="Modificar"
                              placement="top"
                              show-delay="10"
                              (click)="traerDatosMoto(item.id)"
                              class="btn btn-warning btn-circle"
                            >
                              <i
                                class="fa fa-pencil-square-o"
                                aria-hidden="true"
                              ></i>
                            </button>
                            &nbsp;
                            <button
                              type="button"
                              title="Eliminar"
                              placement="top"
                              show-delay="10"
                              (click)="preDeleteMoto(item)"
                              class="btn btn-danger btn-circle"
                            >
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </td>
                        </center>
                      </ng-template>
                    </ng-template>
                  </th>
                  <td>
                    {{ item.modeloMotoNavigation?.marcaMotoNavigation?.nombre }}
                    - {{ item.modeloMotoNavigation?.nombre }}
                  </td>
                  <td>{{ item.cilindrada }}</td>
                  <td>{{ item.dominio }}</td>
                  <td>{{ item.nroMotor }}</td>
                  <td>{{ item.nroCuadro }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            *ngIf="itemsMoto.length === 0"
            class="alert alert-primary alert-dismissible fade show"
            role="alert"
          >
            <center>
              <strong>No hay datos</strong>
            </center>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="moto && cantidadSecuestrada == 1">
          <ng-container
            *ngIf="itemMoto.id > 0; then thenTemplate; else elseTemplate"
          ></ng-container>
          <ng-template #thenTemplate>
            <button
              type="button"
              class="btn btn-warning"
              (click)="actualizarMoto(itemMoto)"
              data-bs-dismiss="modal"
            >
              Modificar datos
            </button>
          </ng-template>
          <ng-template #elseTemplate>
            <button
              type="button"
              class="btn btn-primary"
              (click)="guardarMoto()"
              data-bs-dismiss="modal"
            >
              Guardar
            </button>
          </ng-template>
        </ng-container>
        &nbsp;
        <button
          type="button"
          class="btn btn-danger"
          (click)="cancelarMoto()"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
