<div class="container">
  <h3 class="alert alert-info text-center" role="alert">Panel S.N.I.C.</h3>
  <hr />
  <form class="text-center" [formGroup]="form" (ngSubmit)="doAction()">
    <h4>
      <b> <u> Homicidios Dolosos</u></b>
    </h4>
    <div class="form-group row">
      <!-- alert alert-success -->
      <legend><b>Tipo de lugar:</b></legend>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          1 - Via Pública:</label
        >
        <input
          [(ngModel)]="item.viaPublica"
          (click)="ckeckPresion(1)"
          name="viaPublica"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          2 - Domicilio Particular:</label
        >
        <input
          [(ngModel)]="item.domParticular"
          (click)="ckeckPresion(2)"
          name="domParticular"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          3 - Comercio:</label
        >
        <input
          [(ngModel)]="item.comercio"
          (click)="ckeckPresion(3)"
          name="subUrbano"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          4 - Interior de rodados:</label
        >
        <input
          [(ngModel)]="item.intRodados"
          (click)="ckeckPresion(4)"
          name="diurno"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          5 - Carcel o Comisaría:</label
        >
        <input
          [(ngModel)]="item.carcelComisaria"
          (click)="ckeckPresion(5)"
          name="intRodados"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-4">
        <label for="Nombre" class="col-sm-12 col-form-label">
          6 - Otro lugar (especificar):</label
        >
        <input
          [(ngModel)]="item.otroLugar"
          (click)="ckeckPresion(6)"
          name="otroLugar"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="Nombre" class="col-sm-12 col-form-label">
          99 - Sin determinar:</label
        >
        <input
          [(ngModel)]="item.sinDeterminarLugar"
          (click)="ckeckPresion(15)"
          name="sinDeterminarLugar"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div *ngIf="item.otroLugar" class="row">
      <div class="col-md-12">
        <label for="Nombre" class="col-sm-12 col-form-label">
          Especificar lugar:</label
        >
        <input
          [(ngModel)]="item.especifLugar"
          name="otroLugar"
          type="text"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <legend><b>Clase de Arma:</b></legend>
      <div class="col-md-3">
        <label for="Nombre" class="col-sm-12 col-form-label">
          1 - Arma de fuego:</label
        >
        <input
          [(ngModel)]="item.armaFuego"
          (click)="ckeckPresion(7)"
          name="diurno"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-3">
        <label for="Nombre" class="col-sm-12 col-form-label">
          2 - Arma Blanca:</label
        >
        <input
          [(ngModel)]="item.armaBlanca"
          (click)="ckeckPresion(8)"
          name="nocturno"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-3">
        <label for="Nombre" class="col-sm-12 col-form-label">
          3 - Otra arma (cuál):</label
        >
        <input
          [(ngModel)]="item.otraArma"
          (click)="ckeckPresion(9)"
          name="nocturno"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-3">
        <label for="Nombre" class="col-sm-12 col-form-label">
          4 - Sin armas:</label
        >
        <input
          [(ngModel)]="item.sinArma"
          (click)="ckeckPresion(10)"
          name="sinArma"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label for="Nombre" class="col-sm-12 col-form-label">
          5 - Objeto Contundente:</label
        >
        <input
          [(ngModel)]="item.objetoContundente"
          (click)="ckeckPresion(16)"
          name="nocturno"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-3">
        <label for="Nombre" class="col-sm-12 col-form-label">
          6 - Arrollamiento por rodado o tren:</label
        >
        <input
          [(ngModel)]="item.arrollamiento"
          (click)="ckeckPresion(17)"
          name="arrollamiento"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-3">
        <label for="golpesPunio" class="col-sm-12 col-form-label">
          7 - Golpes de puño:</label
        >
        <input
          [(ngModel)]="item.golpesPunio"
          (click)="ckeckPresion(18)"
          name="golpesPunio"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-3">
        <label for="ahorcamientoAsfixia" class="col-sm-12 col-form-label">
          8 - Ahorcamiento/Asfixia:</label
        >
        <input
          [(ngModel)]="item.ahorcamientoAsfixia"
          (click)="ckeckPresion(19)"
          name="ahorcamientoAsfixia"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label for="envenenamiento" class="col-sm-12 col-form-label">
          9 - Envenenamiento:</label
        >
        <input
          [(ngModel)]="item.envenenamiento"
          (click)="ckeckPresion(20)"
          name="envenenamiento"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-3">
        <label for="precipitacionAlVacio" class="col-sm-12 col-form-label">
          10 - Precipitación Al Vacío:</label
        >
        <input
          [(ngModel)]="item.precipitacionAlVacio"
          (click)="ckeckPresion(21)"
          name="precipitacionAlVacio"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-3">
        <label for="quemaduras" class="col-sm-12 col-form-label">
          11 - Quemaduras:</label
        >
        <input
          [(ngModel)]="item.quemaduras"
          (click)="ckeckPresion(22)"
          name="quemaduras"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-3">
        <label for="sinDeterminarMecanismo" class="col-sm-12 col-form-label">
          99 - Sin determinar:</label
        >
        <input
          [(ngModel)]="item.sinDeterminarMecanismo"
          (click)="ckeckPresion(23)"
          name="sinDeterminarMecanismo"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div *ngIf="item.otraArma" class="row">
      <div class="col-md-12">
        <label for="Nombre" class="col-sm-12 col-form-label">
          Especificar arma:</label
        >
        <input
          [(ngModel)]="item.especifArma"
          name="especifArma"
          type="text"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <legend><b>Otro delito:</b></legend>
      <div class="col-md-3">
        <label for="Nombre" class="col-sm-12 col-form-label">
          1 - Si - Robo:</label
        >
        <input
          [(ngModel)]="item.robo"
          (click)="ckeckPresion(11)"
          name="robo"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-3">
        <label for="Nombre" class="col-sm-12 col-form-label">
          2 - Si - Violación:</label
        >
        <input
          [(ngModel)]="item.violacion"
          (click)="ckeckPresion(12)"
          name="violacion"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-3">
        <label for="Nombre" class="col-sm-12 col-form-label">
          3 - Si - Otro delito:</label
        >
        <input
          [(ngModel)]="item.otroDel"
          (click)="ckeckPresion(13)"
          name="otroDel"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-3">
        <label for="Nombre" class="col-sm-12 col-form-label">
          4 - No fue en ocasión de otro delito:</label
        >
        <input
          [(ngModel)]="item.noOtrodelito"
          (click)="ckeckPresion(14)"
          name="noOtrodelito"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="sinDeterminarOcacionDelito" class="col-sm-12 col-form-label">
          99 - Sin determinar:</label
        >
        <input
          [(ngModel)]="item.sinDeterminarOcacionDelito"
          (click)="ckeckPresion(24)"
          name="sinDeterminarOcacionDelito"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div *ngIf="item.otroDel" class="row">
      <div class="col-md-12">
        <label for="Nombre" class="col-sm-12 col-form-label">
          Especificar delito:</label
        >
        <input
          [(ngModel)]="item.especifDel"
          name="especifDel"
          maxlength="75"
          type="text"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <hr />
    <div class="row">
      <ng-container
        *ngIf="guardando; then thenTemplate; else elseTemplate"
      ></ng-container>
      <ng-template #thenTemplate>
        <button id="boton" class="btn btn-disabled" type="button" disabled>
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Guardando datos...
        </button>
      </ng-template>
      <ng-template #elseTemplate>
        <ng-container
          *ngIf="item.preventivo > 0; then thenTemplate; else elseTemplate"
        ></ng-container>
        <ng-template #thenTemplate>
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
            Editar registro
          </button>
        </ng-template>
        <ng-template #elseTemplate>
          <button class="btn btn-dark" type="submit">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar
          </button>
        </ng-template>
      </ng-template>

      &nbsp;
      <button class="btn btn-info" type="button" (click)="back()">
        <i class="fa fa-hand-o-left" aria-hidden="true"></i>
        &nbsp; Cancelar
      </button>
    </div>
  </form>
</div>
<br />
