<br />
<div class="container border border-danger rounded">
  <br />
  <div class="row">
    <legend class="text-primary">
      <b> DATOS PARA GENERAR EL REPORTE:</b>
    </legend>
    <label for=""><b> Planilla de Hechos Delictuosos </b></label>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-3">
      <label for="Nombre" class="col-sm-12 col-form-label"> Desde Fecha</label>
      <input
        [(ngModel)]="item.fecha1"
        id="codigo"
        type="date"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-3">
      <label for="Nombre" class="col-sm-12 col-form-label"> Hasta Fecha</label>
      <input
        [(ngModel)]="item.fecha2"
        id="codigo"
        type="date"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-6">
      <center>
        <label for="Nombre" class="col-sm-12 col-form-label">
          Listar todos los dnpc</label
        >
        <input
          [(ngModel)]="item.dnpc"
          id="codigo"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </center>
    </div>
  </div>
  <br />
  <div id="posicion" class="row">
    <h5 id="tipo">Tipo &nbsp;</h5>
    <div class="col-md-4">
      <label for="Nombre" class="col-sm-12 col-form-label"> Departamento</label>
      <input
        (click)="ActivarCasilla(2)"
        [(ngModel)]="item.departamento"
        type="checkbox"
        class="form-sm-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-4">
      <label for="Nombre" class="col-sm-12 col-form-label"> Localidad</label>
      <input
        (click)="ActivarCasilla(1)"
        [(ngModel)]="item.localidad"
        id="codigo"
        type="checkbox"
        class="form-sm-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-3">
      <label for="Nombre" class="col-sm-12 col-form-label"> Resistencia</label>
      <input
        (click)="ActivarCasilla(3)"
        [(ngModel)]="item.zonaMetro"
        type="checkbox"
        class="form-sm-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
  </div>
  <br />
  <hr />
  <div class="row">
    <div class="col-md-12">
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        class="btn btn-primary"
        (click)="buscar()"
      >
        <i class="fa fa-search-plus" aria-hidden="true"></i>
        Filtrar dato
      </button>
      &nbsp;
      <button type="button" class="btn btn-danger" (click)="back()">
        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
        Cancelar
      </button>
    </div>
  </div>
  <br />
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen-xxl-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Planilla de hechos delictuosos
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="item.departamento">
          <ng-container
            *ngIf="item.departamento && item.dnpc; else elseTemplate"
          >
          <div class="row">
            <div class="col-md-4">
              <div class="row text-center">
                <label for=""><b>PROVINCIA DEL CHACO</b></label>
              </div>
              <div class="row text-center">
                <label for=""><b>POLICIA</b></label>
              </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="row text-center">
                <label for=""><b>DIRECCION DE GABINETE</b></label>
              </div>
              <div class="row text-center">
                <label for=""><b>DEPARTAMENTO PLANEAMIENTO POLICIAL</b></label>
              </div>
              <div class="row text-center">
                <label for="">DIVISION ESTADISTICAS POLICIALES</label>
              </div>
            </div>
          </div>
          <hr>
            <div class="row">
              <center>
                <h3>PLANILLA DE HECHOS DELICTIVOS</h3>
              </center>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <label for="">
                  <b>
                    Ministerio de Justicia de la Nación - Dirección Nacional de
                    Política Criminal
                  </b>
                </label>
              </div>
              <div class="col-md-3">
                <label for=""
                  >Período: {{ item.fecha1 | date : "dd/MM/yyyy" }} -
                  {{ item.fecha2 | date : "dd/MM/yyyy" }}</label
                >
              </div>
            </div>
            <div class="row border border-dark rounded">
              <div class="col-md-4">
                <label for=""><b> Tipo de Delito </b></label>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-4 text-center">
                    <b> Cantidad de Hechos</b>
                  </div>
                  <div class="col-md-8 text-center">
                    <b> Cantidad de Víctimas </b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-4">Denuncia Particular</div>
                      <div class="col-md-4">Interv. Policial</div>
                      <div class="col-md-4">Total</div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-2">Masculino</div>
                      <div class="col-md-2">Femenino</div>
                      <div class="col-md-2">No consta</div>
                      <div class="col-md-2">Total Víct.</div>
                      <div class="col-md-2">Inculpados</div>
                      <div class="col-md-2">Detenidos</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row" *ngFor="let itemPr of itemsPrev">
              <div class="row">
                <div class="col-md-4 border border-dark rounded">
                  <label for=""
                    ><u>Departamento:</u>&nbsp;&nbsp;
                    <b
                      >{{
                        itemPr.codigo
                      }}&nbsp;
                      {{
                        itemPr.departamento
                      }}</b
                    ></label
                  >
                </div>
              </div>
              <div class="col-md-8"></div>
              <div class="row" *ngFor="let i of itemPr.dnpc">
                <div class="col-md-4">
                  <b>{{ i.codDel }}</b
                  >&nbsp;
                  {{ i.nombre }}
                </div>
                <div class="col-md-8 text-center">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-4">{{i.denunciaPart}}</div>
                        <div class="col-md-4">{{i.intervenPol}}</div>
                        <div class="col-md-4">{{i.intervenPol + i.denunciaPart}}</div>
                      </div>
                    </div>
                    <div class="col-md-5 text-center">
                      <div class="row">
                        <div class="col-md-2">0</div>
                        <div class="col-md-2">0</div>
                        <div class="col-md-2">0</div>
                        <div class="col-md-2">0</div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        <div class="col-md-2">0</div>
                        <div class="col-md-2">0</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="row text-center">
               <hr>
                <div class="col-md-4">
                  <span for=""> <b>Total General</b> </span>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-4">{{ itemPr.totalDenParticular }}</div>
                        <div class="col-md-4">{{itemPr.totalIntervencion}}</div>
                        <div class="col-md-4">{{itemPr.totalDenParticular + itemPr.totalIntervencion}}</div>
                      </div>
                    </div>
                    <div class="col-md-8 text-center">
                      <div class="row">
                        <div class="col-md-2">0</div>
                        <div class="col-md-2">0</div>
                        <div class="col-md-2">0</div>
                        <div class="col-md-2">0</div>
                        <div class="col-md-2">0</div>
                        <div class="col-md-2">0</div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
              <br>
              <br>
              <br>
            </div>
          </ng-container>
          <ng-template #elseTemplate> </ng-template>
        </ng-container>
        <ng-container *ngIf="item.localidad">
          <ng-container *ngIf="item.localidad && item.dnpc; else elseTemplate">
          </ng-container>
          <ng-template #elseTemplate> </ng-template>
        </ng-container>
        <ng-container *ngIf="item.zonaMetro">
          <ng-container *ngIf="item.zonaMetro && item.dnpc; else elseTemplate">
          </ng-container>
          <ng-template #elseTemplate> </ng-template>
        </ng-container>
      </div>
      <div class="modal-footer noPrint">
        <button type="button" class="btn btn-success">Excel</button>
        <button type="button" class="btn btn-info" onclick="window.print();">PDF</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Salir
        </button>
      </div>
    </div>
  </div>
</div>
