<div class="img">
<div class="panel-default ">
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-md-3"></div>
    <div align="center" class="col-md-6">
      <img id="logopolicia" src="./assets/img/escudo.png" />
    </div>
    <div class="col-md-3"></div>
  </div>
  <br />
  <div id="pol" class="row">
    <div class="col-md-12 text-center">
      <h3><b>Policía del Chaco</b></h3>
      <h3><b>División Estadísticas Policiales</b></h3>
      <h3><b>S.U.E.D.</b></h3>
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</div>
