<br />
<div class="container border border-danger rounded">
  <br />
  <div class="row">
    <legend class="text-primary">
      <b> DATOS PARA GENERAR EL REPORTE:</b>
    </legend>
    <label for=""><b> Planilla de Suicidios </b></label>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <label for="Nombre" class="col-sm-12 col-form-label"> Desde Fecha:</label>
      <input
        [(ngModel)]="fecha1"
        id="codigo"
        type="date"
        name="fecha1"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-3">
      <label for="Nombre" class="col-sm-12 col-form-label"> Hasta Fecha:</label>
      <input
        [(ngModel)]="fecha2"
        id="codigo"
        type="date"
        name="fecha2"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-3"></div>
  </div>
  <br>
  <div class="row text-center">
    <h5 id="tipo">Tipo de Suicidio &nbsp;</h5>
    <div class="col-md-3"></div>
    <div  class="col-md-3">
      <label for="Nombre" class="col-sm-12 col-form-label"> Consumado</label>
      <input
        (click)="ActivarCasilla(1)"
        [(ngModel)]="consumado"
        type="checkbox"
        class="form-sm-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-3">
      <label for="Nombre" class="col-sm-12 col-form-label"> Tentativa</label>
      <input
        (click)="ActivarCasilla(2)"
        [(ngModel)]="tentativa"
        id="codigo"
        type="checkbox"
        class="form-sm-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-3"></div>
  </div>
  <br />
  <hr />
  <div class="row">
    <div class="col-md-12">
      <button
        type="button"
        class="btn btn-primary"
        (click)="buscar()"
      >
        <i class="fa fa-search-plus" aria-hidden="true"></i>
        Filtrar dato
      </button>
      &nbsp;
      <button type="button" class="btn btn-danger" (click)="back()">
        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
        Cancelar
      </button>
      &nbsp;
      <button *ngIf="this.arrSuicidio.length > 0" type="button" class="btn btn-info" (click)="planillaExcel()">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;
        Ver Planilla Generada
      </button>
    </div>
  </div>
  <hr />
  <div *ngIf="msg" class="row container">
    <div class="alert alert-danger">
      <i class="fa fa-ban" aria-hidden="true"></i> &nbsp;
      <b> No existen datos correspondientes a la fecha ingresada </b>
    </div>
  </div>
</div>

