<div class="container">
  <h3 class="alert alert-info text-center" role="alert">Panel Inculpados</h3>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <center>
        <h5>
          <b
            ><em><u>DATOS A CARGAR:</u></em></b
          >
        </h5>
      </center>
    </div>
  </div>
  <div class="row">
    <legend><u> Identificación de la Persona:</u></legend>
    <div class="col-md-3">
      <label for="Nombre" class="col-sm-12 col-form-label"> Nombre:</label>
      <input
        [(ngModel)]="item.nombre"
        type="text"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-3">
      <label for="Nombre" class="col-sm-12 col-form-label"> Apellido:</label>
      <input
        [(ngModel)]="item.apellido"
        type="text"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-3">
      <label for="Nombre" class="col-sm-12 col-form-label"> D.N.I:</label>
      <input
        [(ngModel)]="item.dni"
        type="number"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-3">
      <label for="Nombre" class="col-sm-12 col-form-label"> Edad:</label>
      <input
        [(ngModel)]="item.edad"
        type="number"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-combo-sexo
        [dibujar]="item"
        (emitir)="seleccionSexo($event)"
      ></app-combo-sexo>
    </div>
    <div class="col-md-3">
      <app-combo-identidad-genero
        [dibujar]="item"
        (emitir)="seleccionIdentidad($event)"
      ></app-combo-identidad-genero>
    </div>
    <div class="col-md-3">
      <label for="Nombre" class="col-sm-12 col-form-label"> Alias:</label>
      <input
        [(ngModel)]="item.alias"
        type="text"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-3">
      <label for="Nombre" class="col-sm-12 col-form-label"> Clase:</label>
      <input
        [(ngModel)]="item.persClase"
        type="text"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <label for="" class="col-sm-12 col-form-label">Nacionalidad:</label>
      <input
        (ngModelChange)="filtrarNacionalidad()"
        [(ngModel)]="busqueda"
        name="busqueda"
        type="text"
        class="form-control"
        placeholder="Ingrese criterio de búsqueda"
        [ngModelOptions]="{ standalone: true }"
      />
      <select
        *ngIf="Nitems.length > 0 && this.busqueda"
        name="Nitem"
        [(ngModel)]="Nitem"
        class="form-control"
        (ngModelChange)="capturar($event)"
        [ngModelOptions]="{ standalone: true }"
      >
        <option *ngFor="let Nitem of Nitems" [ngValue]="Nitem">
          {{ Nitem.nacionalidad }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <app-combo-provincia
        [dibujar]="item"
        (emitir)="seleccionProvincia($event)"
      ></app-combo-provincia>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br />
  <div class="row">
    <legend><u>Domicilio:</u></legend>
    <div class="col-md-4">
      <app-fil-buscador-barrio
        (emmit)="doFoundBarrio($event)"
      ></app-fil-buscador-barrio>
    </div>
    <div class="col-md-4">
      <app-fil-buscador-calle
        (emmit)="doFoundCalle($event)"
      ></app-fil-buscador-calle>
    </div>
    <div class="col-md-4">
      <label for="Nombre" class="col-sm-12 col-form-label"> Nro.:</label>
      <input
        [(ngModel)]="item.direccionNro"
        type="number"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
  </div>
  <br />
  <div class="row">
    <legend><u>General:</u></legend>
    <div class="col-md-4">
      <label for="" class="col-sm-12 col-form-label">Ocupación:</label>
      <input
        (ngModelChange)="filtrarOcupacion()"
        [(ngModel)]="busquedaOc"
        name="busquedaOc"
        type="text"
        class="form-control"
        placeholder="Ingrese criterio de búsqueda"
        [ngModelOptions]="{ standalone: true }"
      />
      <select
        *ngIf="Oitems.length > 0 && this.busquedaOc"
        name="Oitem"
        [(ngModel)]="Oitem"
        class="form-control"
        (ngModelChange)="capturarOc($event)"
        [ngModelOptions]="{ standalone: true }"
      >
        <option *ngFor="let Oitem of Oitems" [ngValue]="Oitem">
          {{ Oitem.descripcion }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <app-combo-estudio
        [dibujar]="item"
        (emitir)="seleccionEstudio($event)"
      ></app-combo-estudio>
    </div>
    <div class="col-md-4">
      <app-combo-vinculo
        [dibujar]="item"
        (emitir)="seleccionVinculo($event)"
      ></app-combo-vinculo>
    </div>
  </div>
  <br />
  <legend><u>Datos Detención:</u></legend>
  <div class="row">
    <div class="col-md-4">
      <app-combo-provincia
        [dibujar]="item"
        (emitir)="seleccionProvDetencion($event)"
      ></app-combo-provincia>
    </div>
    <div class="col-md-4">
      <app-combo-localidad
        [dibujar]="item"
        (emitir)="seleccionLocalidad($event)"
      ></app-combo-localidad>
    </div>
    <div class="col-md-4">
      <center>
        <label for="Nombre" class="col-sm-12 col-form-label">
          Prontuario:</label
        >
      </center>
      <div class="row">
        <div class="col-md-4">
          <input
            [(ngModel)]="item.prontNro"
            type="text"
            class="form-control"
            placeholder="Número"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="col-md-8">
          <input
            [(ngModel)]="item.prontGabinete"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="" class="col-sm-12 col-form-label">Calle:</label>
      <input
        (ngModelChange)="filtrarCalle()"
        [(ngModel)]="busquedaCalle"
        name="busquedaCalle"
        type="text"
        class="form-control"
        placeholder="Ingrese criterio de búsqueda"
        [ngModelOptions]="{ standalone: true }"
      />
      <select
        *ngIf="CItems.length > 0 && this.busquedaCalle"
        name="Citem"
        [(ngModel)]="Citem"
        class="form-control"
        (ngModelChange)="capturarCalle($event)"
        [ngModelOptions]="{ standalone: true }"
      >
        <option *ngFor="let Citem of CItems" [ngValue]="Citem">
          {{ Citem.nombre }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="Nombre" class="col-sm-12 col-form-label"> Número:</label>
      <input
        [(ngModel)]="item.dirNro"
        type="number"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-4">
      <label for="Nombre" class="col-sm-12 col-form-label">
        Dirección Adicional:</label
      >
      <input
        [(ngModel)]="item.dirAdic"
        type="text"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="Nombre" class="col-sm-12 col-form-label"> Fecha:</label>
      <input
        [(ngModel)]="item.fechaDetencion"
        type="date"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-md-8">
      <center>
        <label for="Nombre" class="col-sm-12 col-form-label"> Detenido:</label>
        <input
          [(ngModel)]="item.detenido"
          type="checkbox"
          class="form-sm-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </center>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="guardando; then thenTemplate; else elseTemplate"></ng-container>
      <ng-template #thenTemplate>
        <center>
        <button id="boton" class="btn btn-disabled" type="button" disabled>
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Guardando datos...
        </button>
      </center>
      </ng-template>
      <ng-template #elseTemplate>
      <ng-container
        *ngIf="mostrarBtnModif; then thenTemplate; else elseTemplate"
      ></ng-container>
      <ng-template #thenTemplate>
        <div class="row">
          <center>
            <button
              id="boton"
              type="button"
              title="Modificar datos"
              placement="top"
              (click)="actualizarDatos(this.item)"
              show-delay="10"
              class="btn btn-primary"
            >
              <i class="fa fa-edit" aria-hidden="true"></i>
              Guardar modificación
            </button>
          </center>
        </div>
      </ng-template>
      <ng-template #elseTemplate>
        <div class="row">
          <center>
            <button
              id="boton"
              type="button"
              title="Guardar"
              placement="top"
              (click)="guardar()"
              show-delay="10"
              class="btn btn-outline-info"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
              Agregar a tabla
            </button>
          </center>
        </div>
      </ng-template>
    </ng-template>
    </div>
  </div>
  <hr />
  <div class="row">
    <table id="tabla" class="table">
      <thead class="text-center table-primary">
        <tr>
          <th>Persona</th>
          <th>D.N.I.</th>
          <th>Sexo</th>
          <th>Edad</th>
          <th>Nacionalidad</th>
          <th>Estudios</th>
          <th>Ocupación</th>
          <th>Detenido</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of items" class="text-center {{ colores(i) }}">
          <ng-container
            *ngIf="i.id > 0; then thenTemplate; else elseTemplate"
          ></ng-container>
          <ng-template #thenTemplate>
            <td class="text-primary">{{ i.nombre }}, {{ i.apellido }}</td>
            <td>{{ i.dni }}</td>
            <td>{{ i.sexoNavigation?.descripcion }}</td>
            <td>{{ i.edad }}</td>
            <td>{{ i.nacionalidadNavigation?.nacionalidad }}</td>
            <td>{{ i.estudiosNavigation?.descripcion }}</td>
            <td>{{ i.ocupacionNavigation?.descripcion }}</td>
            <td>{{ valor(i.detenido) }}</td>
          </ng-template>
          <ng-template #elseTemplate>
            <td>{{ i.capturaSexo }}</td>
            <td>{{ i.edad }}</td>
            <td>{{ i.capturaNacionalidad }}</td>
            <td>{{ i.capturaEstudio }}</td>
            <td>{{ i.capturaOcupacion }}</td>
            <td>{{ valor(i.detenido) }}</td>
          </ng-template>
          <!-- editar y guardar -->
          <ng-container
            *ngIf="i.id > 0; then mostrar; else noMostrar"
          ></ng-container>
          <ng-template #mostrar>
            <!-- muestra el eliminar -->
            <ng-container
              *ngIf="
                mostrarBtnModif && idSeleccion == i.id;
                then thenTemplate;
                else elseTemplate
              "
            ></ng-container>
            <ng-template #thenTemplate>
              <td>
                <button
                  type="button"
                  title="Cancelar Modificación"
                  placement="top"
                  show-delay="10"
                  (click)="cancelarModificacion()"
                  class="btn btn-success btn-circle"
                >
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </td>
            </ng-template>
            <ng-template #elseTemplate>
              <td>
                <button
                  type="button"
                  title="Modificar"
                  placement="top"
                  show-delay="10"
                  (click)="traerDatos(i.id)"
                  class="btn btn-warning btn-circle"
                >
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                &nbsp;
                <button
                  type="button"
                  title="Eliminar"
                  placement="top"
                  show-delay="10"
                  (click)="preDelete(i)"
                  class="btn btn-danger btn-circle"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </ng-template>
          </ng-template>
          <ng-template #noMostrar>
            <!-- saca de la lista -->
            <td>
              <button
                type="button"
                title="Eliminar de la lista"
                placement="top"
                show-delay="10"
                (click)="deleteRow(i)"
                class="btn btn-info btn-circle"
              >
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    *ngIf="items.length === 0"
    class="alert alert-primary alert-dismissible fade show"
    role="alert"
  >
    <center>
      <strong>No hay datos</strong>
    </center>
  </div>
  <hr />
  <div class="row">
    <!-- <button class="btn btn-dark" type="button" (click)="agregarDato()">
      Guardar
    </button>
    &nbsp; -->
    <button class="btn btn-info" type="button" (click)="back()">
      Cancelar
    </button>
  </div>
</div>
<br />
