<div class="container">
  <h3 class="alert alert-info text-center" role="alert">
    Panel ABM Preventivos
  </h3>
  <hr />
  <form class="text-center" [formGroup]="form" (ngSubmit)="doAction()">
    <div class="form-group row">
      <div class="col-md-6">
        <label for="Nombre" class="col-sm-12 col-form-label">
          Fecha Preventivo:</label
        >
        <input
          [(ngModel)]="item.fechaPreventivo"
          id="codigo"
          type="date"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-md-6">
        <label for="">unidad</label>
        <input type="text" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="Nombre" class="col-sm-12 col-form-label">
          <b> Comunicacion Preventiva:</b></label
        >
        <div class="row">
          <div class="col-md-4">
            <label for="">Año:</label>
            <input
              [(ngModel)]="item.anio"
              type="number"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-md-4">
            <label for="">Nro:</label>
            <input
              [(ngModel)]="item.nro"
              type="number"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-md-4">
            <label for="">Letra:</label>
            <input
              [(ngModel)]="item.letra"
              type="text"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label for="">Intervencion Policial</label>
          <input
            [(ngModel)]="item.intervencionPol"
            type="checkbox"
            class="form-sm-control"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="">Fecha Hecho</label> &nbsp;
            <input
              [(ngModel)]="item.fechaHecho"
              type="date"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        <div class="col-md-6">
            <label for="">Hora:</label> &nbsp;
            <input
              [(ngModel)]="item.hora"
              type="time"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="">Delito:</label>
        <input
          (change)="filtrarDelito()"
          [(ngModel)]="busqueda"
          name="busqueda"
          type="text"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
        <select
          *ngIf="ditems.length > 0 && this.busqueda"
          name="ditem"
          [(ngModel)]="ditem"
          class="form-control"
          (ngModelChange)="capturar($event)"
          [ngModelOptions]="{ standalone: true }"
        >
          <option *ngFor="let ditem of ditems" [ngValue]="ditem">
            {{ ditem.descripcion }} - {{ ditem.dnpcNavigation.descripcion }}
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="">Lugar:</label>
        <input
          (change)="filtrarLugar()"
          [(ngModel)]="busquedaLugar"
          name="busquedaLugar"
          type="text"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
        <select
          *ngIf="lugarItems.length > 0 && this.busquedaLugar"
          name="litem"
          [(ngModel)]="litem"
          class="form-control"
          (ngModelChange)="capturarLugar($event)"
          [ngModelOptions]="{ standalone: true }"
        >
          <option *ngFor="let litem of lugarItems" [ngValue]="litem">
            {{ litem.descripcion }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="row">
        <legend>
          <b>
            <em><u>Dirección:</u></em></b
          >
        </legend>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="">Calle:</label>
          <input
            (change)="filtrarCalle()"
            [(ngModel)]="busquedaCalle"
            name="busquedaCalle"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
          <select
            *ngIf="CItems.length > 0 && this.busquedaCalle"
            name="Citem"
            [(ngModel)]="Citem"
            class="form-control"
            (ngModelChange)="capturarCalle($event)"
            [ngModelOptions]="{ standalone: true }"
          >
            <option *ngFor="let Citem of CItems" [ngValue]="Citem">
              {{ Citem.nombre }}
            </option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="">Barrio:</label>
          <input
            (change)="filtrarBarrio()"
            [(ngModel)]="busquedaBarrio"
            name="busquedaBarrio"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
          <select
            *ngIf="BItems.length > 0 && this.busquedaBarrio"
            name="Bitem"
            [(ngModel)]="Bitem"
            class="form-control"
            (ngModelChange)="capturarBarrio($event)"
            [ngModelOptions]="{ standalone: true }"
          >
            <option *ngFor="let Bitem of BItems" [ngValue]="Bitem">
              {{ Bitem.nombre }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="">Nro.:</label> &nbsp;
          <input
            [(ngModel)]="item.dirNro"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="col-md-6">
          <label for="">Dirección Adicional:</label> &nbsp;
          <input
            [(ngModel)]="item.dirAdic"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <span> <b><u> Coordenadas:</u></b></span>
      <div class="col-md-4">
        <a class="btn btn-success" target="_blank" href="https://policiadigital.chaco.gob.ar/mapa/">
          <i class="fa fa-street-view" aria-hidden="true"></i>
          Ver Mapa
        </a>
      </div>
      <div class="col-md-4">
        <label for="">Latitud:</label> &nbsp;
          <input
            [(ngModel)]="item.latitud"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
      </div>
      <div class="col-md-4">
        <label for="">Longitud:</label> &nbsp;
          <input
            [(ngModel)]="item.longitud"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
      </div>
    </div>
    <br />
    <hr />
    <div class="row">
      <button class="btn btn-dark" type="submit">Guardar</button>
      &nbsp;
      <button class="btn btn-info" type="button" (click)="back()">
        Cancelar
      </button>
    </div>
  </form>
</div>
<br />
