<div class="container">
  <h3 class="alert alert-info text-center" role="alert">
    Panel ABM Preventivos
  </h3>
  <hr />
  <form class="text-center" [formGroup]="form">
    <div class="form-group row">
      <div class="col-md-6">
        <label for="Nombre" class="col-sm-12 col-form-label">
          Fecha Preventivo:</label
        >
        <input
          [(ngModel)]="item.fechaPreventivo"
          id="codigo"
          type="date"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div id="autocompletado" class="col-md-6">
        <label for="" class="col-sm-12 col-form-label">Unidad:</label>
        <app-fil-autocompletado-unidad-sued
          (unidadSeleccionada)="unidad($event)"
        >
        </app-fil-autocompletado-unidad-sued>
      </div>
    </div>
    <div *ngIf="item.unidad > 0" class="row">
      <div class="col-md-12 alert alert-info">
        Unidad Seleccionada:&nbsp;&nbsp;<b>{{ item.nombreUnidad }}</b>
      </div>
    </div>
   <div class="row">
    <div class="col-md-6">
      <label for="" class="col-sm-12 col-form-label">Unidad especial interviniente:</label>
        <app-fil-autocompletado-unidad-sued
          (unidadSeleccionada)="unidadEspecial($event)"
        >
        </app-fil-autocompletado-unidad-sued>
    </div>
    <div class="col-md-6">
      <br>
      <div *ngIf="item.unidadEspecial > 0" class="col-md-12 alert alert-info">
        Unidad especial:&nbsp;&nbsp;<b>{{ item.nombreUniEspecial }}</b>
      </div>
    </div>
   </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="Nombre" class="col-sm-12 col-form-label">
          <b> Comunicación Preventiva:</b></label
        >
        <div class="row">
          <div class="col-md-4">
            <label for="">Año:</label>
            <input
              [(ngModel)]="item.anio"
              type="number"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-md-4">
            <label for="">Nro:</label>
            <input
              [(ngModel)]="item.nro"
              type="number"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-md-4">
            <label for="">Letra:</label>
            <select
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="item.letra"
              class="form-select"
              aria-label="Default select example"
            >
              <option value="F">F</option>
              <option value="P">P</option>
              <option value="V">V</option>
              <option value="B">B</option>
              <option value="B">C</option>
              <option value="B">G</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label for="">Intervencion Policial</label>
          <input
            [(ngModel)]="item.intervencionPol"
            type="checkbox"
            class="form-sm-control"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="">Fecha Hecho</label> &nbsp;
            <input
              [(ngModel)]="item.fechaHecho"
              type="date"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-md-6">
            <label for="">Hora:</label> &nbsp;
            <input
              [(ngModel)]="item.hora"
              type="time"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="">Delito:</label>
        <input
          (change)="filtrarDelito()"
          [(ngModel)]="busqueda"
          name="busqueda"
          type="text"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
        <select
          *ngIf="ditems.length > 0 && this.busqueda"
          name="ditem"
          [(ngModel)]="ditem"
          class="form-control"
          (ngModelChange)="capturar($event)"
          [ngModelOptions]="{ standalone: true }"
        >
          <option *ngFor="let ditem of ditems" [ngValue]="ditem">
            {{ ditem.descripcion }} - {{ ditem.dnpcNavigation.descripcion }}
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="">Lugar:</label>
        <input
          (change)="filtrarLugar()"
          [(ngModel)]="busquedaLugar"
          name="busquedaLugar"
          type="text"
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
        />
        <select
          *ngIf="lugarItems.length > 0 && this.busquedaLugar"
          name="litem"
          [(ngModel)]="litem"
          class="form-control"
          (ngModelChange)="capturarLugar($event)"
          [ngModelOptions]="{ standalone: true }"
        >
          <option *ngFor="let litem of lugarItems" [ngValue]="litem">
            {{ litem.descripcion }}
          </option>
        </select>
      </div>
    </div>
    <br>
    <div *ngIf="busquedaLugar == 'ESTABLECIMIENTOS EDUCATIVOS'" class="row">
      <div class="col-md-6">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
          <option selected>Seleccione una opción:</option>
          <option value="primario">Nivel Primario</option>
          <option value="secundario">Nivel Secundario</option>
          <option value="terciario">Nivel Terciario</option>
          <option value="universitario">Nivel Universitario</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="">Especificar nombre:</label>
          <input
            [(ngModel)]="item.especificarLugar"
            name="especificarLugar"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
      </div>
    </div>
    <div class="form-group row">
      <div class="row">
        <legend>
          <b>
            <em><u>Dirección:</u></em></b
          >
        </legend>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="">Calle:</label>
          <input
            (change)="filtrarCalle()"
            [(ngModel)]="busquedaCalle"
            name="busquedaCalle"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
          <select
            *ngIf="CItems.length > 0 && this.busquedaCalle"
            name="Citem"
            [(ngModel)]="Citem"
            class="form-control"
            (ngModelChange)="capturarCalle($event)"
            [ngModelOptions]="{ standalone: true }"
          >
            <option *ngFor="let Citem of CItems" [ngValue]="Citem">
              {{ Citem.nombre }}
            </option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="">Barrio:</label>
          <input
            (change)="filtrarBarrio()"
            [(ngModel)]="busquedaBarrio"
            name="busquedaBarrio"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
          <select
            *ngIf="BItems.length > 0 && this.busquedaBarrio"
            name="Bitem"
            [(ngModel)]="Bitem"
            class="form-control"
            (ngModelChange)="capturarBarrio($event)"
            [ngModelOptions]="{ standalone: true }"
          >
            <option *ngFor="let Bitem of BItems" [ngValue]="Bitem">
              {{ Bitem.nombre }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="">Altura:</label> &nbsp;
          <input
            [(ngModel)]="item.dirNro"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="col-md-6">
          <label for="">Dirección Adicional:</label> &nbsp;
          <input
            [(ngModel)]="item.dirAdic"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <app-combo-localidad
            [dibujar]="item"
            (emitir)="seleccionLocalidad($event)"
          ></app-combo-localidad>
        </div>
        <div  class="col-md-6">
          <br>
            <label *ngIf="this.item.localidadNavigation != undefined" class="col-sm-12 col-form-label alert alert-success" for="">Localidad Seleccionada: &nbsp;<b>{{this.item.localidadNavigation.codPostal}} - {{this.item.localidadNavigation?.nombre}}</b></label>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <label for="">Coordenadas Manuales</label>&nbsp;
      <center>
        <div class="col-md-6">
          <label for="">Si</label>&nbsp;
          <input
            (click)="ActivarCasilla(1)"
            type="checkbox"
            class="form-sm-control"
            [(ngModel)]="manual"
            [ngModelOptions]="{ standalone: true }"
          />
          &nbsp;
          <label *ngIf="this.item.localidad != undefined && this.item.calle != undefined && this.item.dirNro" for="">No</label>&nbsp;
          <input
          (click)="ActivarCasilla(2)"
          *ngIf="this.item.localidad != undefined && this.item.calle != undefined && this.item.dirNro"
            type="checkbox"
            class="form-sm-control"
            [(ngModel)]="automatico"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </center>
    </div>
    <ng-container *ngIf="automatico">
      <div class="row">
        <legend><b>GEOLOCALIZACION</b></legend>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="">Calle seleccionada </label>
          <legend>{{ Citem.nombre }}</legend>
        </div>
        <div class="col-md-4">
          <label for="">Altura ingresada:</label>
          <legend>{{ item.dirNro }}</legend>
        </div>
        <div class="col-md-4">
          <label for="">Localidad Seleccionada:</label>
          <legend>
            {{ item?.localidadCoordenada }} - {{ item.cp }} - {{ item.pais }}
          </legend>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-outline-warning" (click)="buscarCoordenadas()">
            <i class="fa fa-search" aria-hidden="true"></i>
            Buscar Coordenadas
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <span>
          <b><u> Coordenadas:</u></b></span
        >
        <div class="col-md-4">
          <label for="">Latitud:</label> &nbsp;
          <input
            [(ngModel)]="item.latitud"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
            disabled
          />
        </div>
        <div class="col-md-4">
          <label for="">Longitud:</label> &nbsp;
          <input
            [(ngModel)]="item.longitud"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
            disabled
          />
        </div>
        <div class="col-md-4">
          <a class="btn btn-success" (click)="enviarCoordenadas()">
            <i class="fa fa-street-view" aria-hidden="true"></i>
            Verificar coordenadas
          </a>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="manual">
      <div class="row">
        <span>
          <b><u> Coordenadas:</u></b></span
        >
        <div class="col-md-6">
          <label for="">Latitud:</label> &nbsp;
          <input
            [(ngModel)]="item.latitud"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="col-md-6">
          <label for="">Longitud:</label> &nbsp;
          <input
            [(ngModel)]="item.longitud"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <br />
      <div class="row border border-primary">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14163.773525075312!2d-59.00090795!3d-27.4398752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1666610681032!5m2!1ses!2sar"
          width="500"
          height="350"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </ng-container>

    <hr />
    <div *ngIf="map" class="row">
      <legend><b>Mapa:</b></legend>
      <app-geo-map [latitud]="latitud" [longitud]="longitud"></app-geo-map>
    </div>
    <br *ngIf="map" />
    <br *ngIf="map" />
    <br *ngIf="map" />
    <br *ngIf="map" />
    <br *ngIf="map" />
    <br *ngIf="map" />
    <br *ngIf="map" />
    <br *ngIf="map" />
    <br *ngIf="map" />
    <br *ngIf="map" />
    <br *ngIf="map" />
    <br *ngIf="map" />
    <br *ngIf="map" />
    <hr *ngIf="map" />
    <div class="row">
      <ng-container
        *ngIf="this.id > 0; then thenTemplate; else elseTemplate"
      ></ng-container>
      <ng-template #thenTemplate>
        <button
          class="btn btn-success"
          type="button"
          (click)="actualizarDatos(this.item)"
        >
          Editar registro
        </button>
      </ng-template>
      <ng-template #elseTemplate>
        <button class="btn btn-dark" type="button" (click)="guardar()">
          Guardar
        </button>
      </ng-template>
      &nbsp;
      <button class="btn btn-info" type="button" (click)="back()">
        Cancelar
      </button>
    </div>
  </form>
</div>
<br />
