<div class="container">
  <center>
    <legend>
      <b><u>Panel detalle del Preventivo</u></b>
    </legend>
    <hr />

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <label for=""> <b>Fecha Hecho.:</b></label>
            {{ prev.fechaHecho | date : "dd/MM/yyyy" }}
          </div>
          <div class="col-md-4">
            <label for=""> <b>Hora hecho:</b></label>
            {{ prev.hora }}
          </div>
          <div class="col-md-4">
            <label for=""> <b>Barrio:</b></label>
            {{ prev.barrioNavigation?.nombre }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for=""> <b>Delito:</b></label>
            {{ prev.delitoNavigation?.descripcion }}
          </div>
          <div class="col-md-4">
            <label for=""> <b>Año:</b></label>
            {{ prev.anio }}
          </div>
          <div class="col-md-4">
            <label for=""> <b>Intervención Policial:</b></label>
            {{ valor(prev.intervencionPol) }}
          </div>
        </div>
      </div>
    </div>
    <hr />
    <ul class="nav nav-tabs justify-content-center nav-pills mb-3" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#unidad"
          type="button"
          role="tab"
          aria-controls="unidad"
          aria-selected="true"
        >
          Unidades Int.
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#caratula"
          type="button"
          role="tab"
          aria-controls="caratula"
          aria-selected="false"
        >
          Cáratulas Secundarias
        </button>
      </li>
      <li
        *ngIf="
          prev.delitoNavigation?.id !== 7 &&
          prev.delitoNavigation?.id !== 8 &&
          prev.delitoNavigation?.id !== 9 &&
          prev.delitoNavigation?.id !== 10 &&
          prev.delitoNavigation?.id !== 11 &&
          prev.delitoNavigation?.id !== 14 &&
          prev.delitoNavigation?.id !== 17 &&
          prev.delitoNavigation?.id !== 18 &&
          prev.delitoNavigation?.id !== 20
        "
        class="nav-item"
        role="presentation"
      >
        <button
          class="nav-link"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#snic"
          type="button"
          role="tab"
          aria-controls="snic"
          aria-selected="false"
        >
          S.N.I.C.
        </button>
      </li>
      <li
        *ngIf="
          prev.delitoNavigation?.id !== 7 && 
          prev.delitoNavigation?.id !== 8 &&
          prev.delitoNavigation?.id !== 18 &&
          prev.delitoNavigation?.id !== 20
        "
        class="nav-item"
        role="presentation"
      >
        <button
          class="nav-link"
          id="profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#medio"
          type="button"
          role="tab"
          aria-controls="medio"
          aria-selected="false"
        >
          Medio Utilizado
        </button>
      </li>
      <li
        *ngIf="
          prev.delitoNavigation?.id !== 1 &&
          prev.delitoNavigation?.id !== 2 &&
          prev.delitoNavigation?.id !== 3 &&
          prev.delitoNavigation?.id !== 4 &&
          prev.delitoNavigation?.id !== 5 &&
          prev.delitoNavigation?.id !== 6 &&
          prev.delitoNavigation?.id !== 7 &&
          prev.delitoNavigation?.id !== 8 &&
          prev.delitoNavigation?.id !== 9 &&
          prev.delitoNavigation?.id !== 10 &&
          prev.delitoNavigation?.id !== 12 &&
          prev.delitoNavigation?.id !== 11 &&
          prev.delitoNavigation?.id !== 13 &&
          prev.delitoNavigation?.id !== 14 &&
          prev.delitoNavigation?.id !== 17 &&
          prev.delitoNavigation?.id !== 18 &&
          prev.delitoNavigation?.id !== 20
        "
        class="nav-item"
        role="presentation"
      >
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#objeto"
          type="button"
          role="tab"
          aria-controls="objeto"
          aria-selected="false"
        >
          Objeto
        </button>
      </li>
      <li
        *ngIf="
          prev.delitoNavigation?.id !== 3 &&
          prev.delitoNavigation?.id !== 4 &&
          prev.delitoNavigation?.id !== 5 &&
          prev.delitoNavigation?.id !== 6 &&
          prev.delitoNavigation?.id !== 7 &&
          prev.delitoNavigation?.id !== 8 &&
          prev.delitoNavigation?.id !== 11 &&
          prev.delitoNavigation?.id !== 12 &&
          prev.delitoNavigation?.id !== 13 &&
          prev.delitoNavigation?.id !== 14 &&
          prev.delitoNavigation?.id !== 17 &&
          prev.delitoNavigation?.id !== 18
        "
        class="nav-item"
        role="presentation"
      >
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#modalidad"
          type="button"
          role="tab"
          aria-controls="modalidad"
          aria-selected="false"
        >
          Modalidad
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#victimas"
          type="button"
          role="tab"
          aria-controls="victimas"
          aria-selected="false"
        >
          Víctimas
        </button>
      </li>
      <li
        *ngIf="
          prev.delitoNavigation?.id !== 5 && prev.delitoNavigation?.id !== 6
        "
        class="nav-item"
        role="presentation"
      >
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#inculpados"
          type="button"
          role="tab"
          aria-controls="inculpados"
          aria-selected="false"
        >
          Inculpados
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#ampliaciones"
          type="button"
          role="tab"
          aria-controls="ampliaciones"
          aria-selected="false"
        >
          Ampliaciones
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="unidad"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-prev-unidad-especial
            [id]="this.id"
          ></app-abm-prev-unidad-especial>
        </section>
        <br />
      </div>
      <div
        class="tab-pane"
        id="caratula"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-prev-caratula [id]="this.id"></app-abm-prev-caratula>
        </section>
        <br />
      </div>
      <div
        class="tab-pane fade"
        id="snic"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <br />
        <section class="tab-panel">
          <!-- LESIONES CULPOSAS POR ACC. TRANS GRAVES Y GRAVISIMAS Y LESIONES CULPOSAS POR ACC. TRANSITO LEVES -->
          <ng-container
            *ngIf="
              prev.delitoNavigation?.id == 13 || prev.delitoNavigation?.id == 12
            "
          >
            <app-abm-snic [id]="this.id"></app-abm-snic>
          </ng-container>
          <!-- homicidio doloso consumado y tentativo -->
          <ng-container
            *ngIf="
              prev.delitoNavigation?.id == 1 || prev.delitoNavigation?.id == 2
            "
          >
            <app-abm-prev-homicidio [id]="this.id"></app-abm-prev-homicidio>
          </ng-container>
          <!-- instigacion al suicidio consumado y tentativa -->
          <ng-container
            *ngIf="
              prev.delitoNavigation?.id == 5 || prev.delitoNavigation?.id == 6
            "
          >
            <app-abm-prev-suicidio [id]="this.id"></app-abm-prev-suicidio>
          </ng-container>
        </section>
      </div>
      <div
        class="tab-pane fade"
        id="medio"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-preventivo-medio [id]="this.id"></app-abm-preventivo-medio>
        </section>
      </div>
      <div
        class="tab-pane fade"
        id="objeto"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-prev-objeto [id]="this.id"></app-abm-prev-objeto>
        </section>
      </div>
      <div
        class="tab-pane fade"
        id="modalidad"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-prev-modalidad [id]="this.id"></app-abm-prev-modalidad>
        </section>
      </div>
      <div
        class="tab-pane fade"
        id="victimas"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-pre-victima [id]="this.id"></app-abm-pre-victima>
        </section>
      </div>
      <div
        class="tab-pane fade"
        id="inculpados"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-prev-inculpado [id]="this.id"></app-abm-prev-inculpado>
        </section>
      </div>
      <div
        class="tab-pane fade"
        id="ampliaciones"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-prev-ampliacion [id]="this.id"></app-abm-prev-ampliacion>
        </section>
      </div>
    </div>
  </center>
</div>
