<div class="container">
  <center>
    <legend>
      <b><u>Panel detalle del Preventivo</u></b>
    </legend>
    <hr />

    <div *ngIf="prev.id > 0" class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <label for=""> <b>Fecha Hecho.:</b></label>
            {{ prev.fechaHecho | date : "dd/MM/yyyy" }}
          </div>
          <div class="col-md-4">
            <label for=""> <b>Hora hecho:</b></label>
            {{ prev.hora }}
          </div>
          <div class="col-md-4">
            <label for=""> <b>Barrio:</b></label>
            {{ prev.barrioNavigation?.nombre }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for=""> <b>Delito:</b></label>
            {{ prev.delitoNavigation?.descripcion }}
          </div>
          <div class="col-md-4">
            <label for=""> <b>Año:</b></label>
            {{ prev.anio }}
          </div>
          <div class="col-md-4">
            <label for=""> <b>Intervención Policial:</b></label>
            {{ valor(prev.intervencionPol) }}
          </div>
        </div>
      </div>
    </div>
    <hr />
    <ul class="nav nav-tabs justify-content-center nav-pills mb-3" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#general"
          type="button"
          role="tab"
          aria-controls="general"
          aria-selected="true"
        >
          General
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#caratula"
          type="button"
          role="tab"
          aria-controls="caratula"
          aria-selected="true"
        >
          Cáratulas Secundarias
        </button>
      </li>
      <li
        *ngIf="
          prev.delitoNavigation?.id !== 7 &&
          prev.delitoNavigation?.id !== 8 &&
          prev.delitoNavigation?.id !== 9 &&
          prev.delitoNavigation?.id !== 10 &&
          prev.delitoNavigation?.id !== 11 &&
          prev.delitoNavigation?.id !== 14 &&
          prev.delitoNavigation?.id !== 17 &&
          prev.delitoNavigation?.id !== 18 &&
          prev.delitoNavigation?.id !== 19 &&
          prev.delitoNavigation?.id !== 20 &&
          prev.delitoNavigation?.id !== 21 &&
          prev.delitoNavigation?.id !== 22 &&
          prev.delitoNavigation?.id !== 23 &&
          prev.delitoNavigation?.id !== 24 &&
          prev.delitoNavigation?.id !== 25 &&
          prev.delitoNavigation?.id !== 26 &&
          prev.delitoNavigation?.id !== 27 &&
          prev.delitoNavigation?.id !== 28 &&
          prev.delitoNavigation?.id !== 29 &&
          prev.delitoNavigation?.id !== 87 &&
          prev.delitoNavigation?.id !== 31 &&
          prev.delitoNavigation?.id !== 32 &&
          prev.delitoNavigation?.id !== 33 &&
          prev.delitoNavigation?.id !== 34 &&
          prev.delitoNavigation?.id !== 35 &&
          prev.delitoNavigation?.id !== 36 &&
          prev.delitoNavigation?.id !== 37 &&
          prev.delitoNavigation?.id !== 38 &&
          prev.delitoNavigation?.id !== 39 &&
          prev.delitoNavigation?.id !== 40 &&
          prev.delitoNavigation?.id !== 41 &&
          prev.delitoNavigation?.id !== 45 &&
          prev.delitoNavigation?.id !== 46 &&
          prev.delitoNavigation?.id !== 47 &&
          prev.delitoNavigation?.id !== 48 &&
          prev.delitoNavigation?.id !== 49 &&
          prev.delitoNavigation?.id !== 50 &&
          prev.delitoNavigation?.id !== 51 &&
          prev.delitoNavigation?.id !== 52 &&
          prev.delitoNavigation?.id !== 53 &&
          prev.delitoNavigation?.id !== 54 &&
          prev.delitoNavigation?.id !== 55 &&
          prev.delitoNavigation?.id !== 56 &&
          prev.delitoNavigation?.id !== 57 &&
          prev.delitoNavigation?.id !== 58 &&
          prev.delitoNavigation?.id !== 59 &&
          prev.delitoNavigation?.id !== 60 &&
          prev.delitoNavigation?.id !== 61 &&
          prev.delitoNavigation?.id !== 64 &&
          prev.delitoNavigation?.id !== 65 &&
          prev.delitoNavigation?.id !== 66 &&
          prev.delitoNavigation?.id !== 67 &&
          prev.delitoNavigation?.id !== 68 &&
          prev.delitoNavigation?.id !== 69 &&
          prev.delitoNavigation?.id !== 73 &&
          prev.delitoNavigation?.id !== 74 &&
          prev.delitoNavigation?.id !== 75 &&
          prev.delitoNavigation?.id !== 76 &&
          prev.delitoNavigation?.id !== 77 &&
          prev.delitoNavigation?.id !== 78 &&
          prev.delitoNavigation?.id !== 79 &&
          prev.delitoNavigation?.id !== 81 &&
          prev.delitoNavigation?.id !== 82 &&
          prev.delitoNavigation?.id !== 83 &&
          prev.delitoNavigation?.id !== 84 &&
          prev.delitoNavigation?.id !== 85 &&
          prev.delitoNavigation?.id !== 88 &&
          prev.delitoNavigation?.id !== 89 &&
          prev.delitoNavigation?.id !== 90 &&
          prev.delitoNavigation?.id !== 91 &&
          prev.delitoNavigation?.id !== 92 &&
          prev.delitoNavigation?.id !== 93 &&
          prev.delitoNavigation?.id !== 94 &&
          prev.delitoNavigation?.id !== 95 &&
          prev.delitoNavigation?.id !== 96 &&
          prev.delitoNavigation?.id !== 97 &&
          prev.delitoNavigation?.id !== 98 &&
          prev.delitoNavigation?.id !== 99 &&
          prev.delitoNavigation?.id !== 100 &&
          prev.delitoNavigation?.id !== 101 &&
          prev.delitoNavigation?.id !== 102 &&
          prev.delitoNavigation?.id !== 103 &&
          prev.delitoNavigation?.id !== 104 &&
          prev.delitoNavigation?.id !== 105 &&
          prev.delitoNavigation?.id !== 106 &&
          prev.delitoNavigation?.id !== 107 &&
          prev.delitoNavigation?.id !== 110 &&
          prev.delitoNavigation?.id !== 111 &&
          prev.delitoNavigation?.id !== 112 &&
          prev.delitoNavigation?.id !== 113 &&
          prev.delitoNavigation?.id !== 114 &&
          prev.delitoNavigation?.id !== 115 &&
          prev.delitoNavigation?.id !== 116 &&
          prev.delitoNavigation?.id !== 117 &&
          prev.delitoNavigation?.id !== 118 &&
          prev.delitoNavigation?.id !== 119 &&
          prev.delitoNavigation?.id !== 120 &&
          prev.delitoNavigation?.id !== 121 &&
          prev.delitoNavigation?.id !== 122 &&
          prev.delitoNavigation?.id !== 123 &&
          prev.delitoNavigation?.id !== 124 &&
          prev.delitoNavigation?.id !== 125 &&
          prev.delitoNavigation?.id !== 126 &&
          prev.delitoNavigation?.id !== 127 &&
          prev.delitoNavigation?.id !== 128 &&
          prev.delitoNavigation?.id !== 129 &&
          prev.delitoNavigation?.id !== 130 &&
          prev.delitoNavigation?.id !== 131 &&
          prev.delitoNavigation?.id !== 132 &&
          prev.delitoNavigation?.id !== 133 &&
          prev.delitoNavigation?.id !== 134 &&
          prev.delitoNavigation?.id !== 135 &&
          prev.delitoNavigation?.id !== 136 &&
          prev.delitoNavigation?.id !== 137 &&
          prev.delitoNavigation?.id !== 138 &&
          prev.delitoNavigation?.id !== 141 &&
          prev.delitoNavigation?.id !== 142 &&
          prev.delitoNavigation?.id !== 143
        "
        class="nav-item"
        role="presentation"
      >
        <button
          class="nav-link"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#snic"
          type="button"
          role="tab"
          aria-controls="snic"
          aria-selected="false"
        >
          S.N.I.C.
        </button>
      </li>
      <li
        *ngIf="
          prev.delitoNavigation?.id !== 7 && 
          prev.delitoNavigation?.id !== 8 &&
          prev.delitoNavigation?.id !== 18 &&
          prev.delitoNavigation?.id !== 19 &&
          prev.delitoNavigation?.id !== 20 &&
          prev.delitoNavigation?.id !== 21 &&
          prev.delitoNavigation?.id !== 22 &&
          prev.delitoNavigation?.id !== 23 &&
          prev.delitoNavigation?.id !== 24 &&
          prev.delitoNavigation?.id !== 25 &&
          prev.delitoNavigation?.id !== 26 &&
          prev.delitoNavigation?.id !== 27 &&
          prev.delitoNavigation?.id !== 28 &&
          prev.delitoNavigation?.id !== 29 &&
          prev.delitoNavigation?.id !== 37 &&
          prev.delitoNavigation?.id !== 40 &&
          prev.delitoNavigation?.id !== 45 &&
          prev.delitoNavigation?.id !== 46 &&
          prev.delitoNavigation?.id !== 51 &&
          prev.delitoNavigation?.id !== 53 &&
          prev.delitoNavigation?.id !== 55 &&
          prev.delitoNavigation?.id !== 58 &&
          prev.delitoNavigation?.id !== 64 &&
          prev.delitoNavigation?.id !== 65 &&
          prev.delitoNavigation?.id !== 66 &&
          prev.delitoNavigation?.id !== 67 &&
          prev.delitoNavigation?.id !== 68 &&
          prev.delitoNavigation?.id !== 69 &&
          prev.delitoNavigation?.id !== 74 &&
          prev.delitoNavigation?.id !== 76 &&
          prev.delitoNavigation?.id !== 79 &&
          prev.delitoNavigation?.id !== 81 &&
          prev.delitoNavigation?.id !== 82 &&
          prev.delitoNavigation?.id !== 83 &&
          prev.delitoNavigation?.id !== 84 &&
          prev.delitoNavigation?.id !== 85 &&
          prev.delitoNavigation?.id !== 96 &&
          prev.delitoNavigation?.id !== 97 &&
          prev.delitoNavigation?.id !== 98 &&
          prev.delitoNavigation?.id !== 100 &&
          prev.delitoNavigation?.id !== 101 &&
          prev.delitoNavigation?.id !== 102 &&
          prev.delitoNavigation?.id !== 103 &&
          prev.delitoNavigation?.id !== 105 &&
          prev.delitoNavigation?.id !== 106 &&
          prev.delitoNavigation?.id !== 110 &&
          prev.delitoNavigation?.id !== 111 &&
          prev.delitoNavigation?.id !== 113 &&
          prev.delitoNavigation?.id !== 115 &&
          prev.delitoNavigation?.id !== 116 &&
          prev.delitoNavigation?.id !== 118 &&
          prev.delitoNavigation?.id !== 119 &&
          prev.delitoNavigation?.id !== 125 &&
          prev.delitoNavigation?.id !== 126 &&
          prev.delitoNavigation?.id !== 127 &&
          prev.delitoNavigation?.id !== 128 &&
          prev.delitoNavigation?.id !== 129 &&
          prev.delitoNavigation?.id !== 130 &&
          prev.delitoNavigation?.id !== 131 &&
          prev.delitoNavigation?.id !== 132 &&
          prev.delitoNavigation?.id !== 133 &&
          prev.delitoNavigation?.id !== 136 &&
          prev.delitoNavigation?.id !== 137 &&
          prev.delitoNavigation?.id !== 141 &&
          prev.delitoNavigation?.id !== 142 &&
          prev.delitoNavigation?.id !== 143
        "
        class="nav-item"
        role="presentation"
      >
        <button
          class="nav-link"
          id="profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#medio"
          type="button"
          role="tab"
          aria-controls="medio"
          aria-selected="false"
        >
          Medio Utilizado
        </button>
      </li>
      <li
        *ngIf="
          prev.delitoNavigation?.id !== 1 &&
          prev.delitoNavigation?.id !== 2 &&
          prev.delitoNavigation?.id !== 3 &&
          prev.delitoNavigation?.id !== 4 &&
          prev.delitoNavigation?.id !== 5 &&
          prev.delitoNavigation?.id !== 6 &&
          prev.delitoNavigation?.id !== 7 &&
          prev.delitoNavigation?.id !== 8 &&
          prev.delitoNavigation?.id !== 9 &&
          prev.delitoNavigation?.id !== 10 &&
          prev.delitoNavigation?.id !== 12 &&
          prev.delitoNavigation?.id !== 11 &&
          prev.delitoNavigation?.id !== 13 &&
          prev.delitoNavigation?.id !== 14 &&
          prev.delitoNavigation?.id !== 17 &&
          prev.delitoNavigation?.id !== 18 &&
          prev.delitoNavigation?.id !== 19 &&
          prev.delitoNavigation?.id !== 20 &&
          prev.delitoNavigation?.id !== 21 &&
          prev.delitoNavigation?.id !== 22 &&
          prev.delitoNavigation?.id !== 23 &&
          prev.delitoNavigation?.id !== 24 &&
          prev.delitoNavigation?.id !== 25 &&
          prev.delitoNavigation?.id !== 26 &&
          prev.delitoNavigation?.id !== 27 &&
          prev.delitoNavigation?.id !== 28 &&
          prev.delitoNavigation?.id !== 29 &&
          prev.delitoNavigation?.id !== 31 &&
          prev.delitoNavigation?.id !== 32 &&
          prev.delitoNavigation?.id !== 33 &&
          prev.delitoNavigation?.id !== 34 &&
          prev.delitoNavigation?.id !== 35 &&
          prev.delitoNavigation?.id !== 36 &&
          prev.delitoNavigation?.id !== 37 &&
          prev.delitoNavigation?.id !== 38 &&
          prev.delitoNavigation?.id !== 39 &&
          prev.delitoNavigation?.id !== 40 &&
          prev.delitoNavigation?.id !== 41 &&
          prev.delitoNavigation?.id !== 46 &&
          prev.delitoNavigation?.id !== 48 &&
          prev.delitoNavigation?.id !== 51 &&
          prev.delitoNavigation?.id !== 52 &&
          prev.delitoNavigation?.id !== 53 &&
          prev.delitoNavigation?.id !== 55 &&
          prev.delitoNavigation?.id !== 56 &&
          prev.delitoNavigation?.id !== 57 &&
          prev.delitoNavigation?.id !== 58 &&
          prev.delitoNavigation?.id !== 59 &&
          prev.delitoNavigation?.id !== 60 &&
          prev.delitoNavigation?.id !== 61 &&
          prev.delitoNavigation?.id !== 64 &&
          prev.delitoNavigation?.id !== 65 &&
          prev.delitoNavigation?.id !== 66 &&
          prev.delitoNavigation?.id !== 67 &&
          prev.delitoNavigation?.id !== 68 &&
          prev.delitoNavigation?.id !== 69 &&
          prev.delitoNavigation?.id !== 73 &&
          prev.delitoNavigation?.id !== 74 &&
          prev.delitoNavigation?.id !== 75 &&
          prev.delitoNavigation?.id !== 76 &&
          prev.delitoNavigation?.id !== 77 &&
          prev.delitoNavigation?.id !== 78 &&
          prev.delitoNavigation?.id !== 79 &&
          prev.delitoNavigation?.id !== 81 &&
          prev.delitoNavigation?.id !== 82 &&
          prev.delitoNavigation?.id !== 83 &&
          prev.delitoNavigation?.id !== 84 &&
          prev.delitoNavigation?.id !== 87 &&
          prev.delitoNavigation?.id !== 88 &&
          prev.delitoNavigation?.id !== 89 &&
          prev.delitoNavigation?.id !== 90 &&
          prev.delitoNavigation?.id !== 96 &&
          prev.delitoNavigation?.id !== 98 &&
          prev.delitoNavigation?.id !== 99 &&
          prev.delitoNavigation?.id !== 100 &&
          prev.delitoNavigation?.id !== 102 &&
          prev.delitoNavigation?.id !== 103 &&
          prev.delitoNavigation?.id !== 104 &&
          prev.delitoNavigation?.id !== 105 &&
          prev.delitoNavigation?.id !== 106 &&
          prev.delitoNavigation?.id !== 107 &&
          prev.delitoNavigation?.id !== 115 &&
          prev.delitoNavigation?.id !== 116 &&
          prev.delitoNavigation?.id !== 110 &&
          prev.delitoNavigation?.id !== 111 &&
          prev.delitoNavigation?.id !== 112 &&
          prev.delitoNavigation?.id !== 113 &&
          prev.delitoNavigation?.id !== 114 &&
          prev.delitoNavigation?.id !== 118 &&
          prev.delitoNavigation?.id !== 119 &&
          prev.delitoNavigation?.id !== 120 &&
          prev.delitoNavigation?.id !== 121 &&
          prev.delitoNavigation?.id !== 122 &&
          prev.delitoNavigation?.id !== 123 &&
          prev.delitoNavigation?.id !== 134 &&
          prev.delitoNavigation?.id !== 135 &&
          prev.delitoNavigation?.id !== 141 &&
          prev.delitoNavigation?.id !== 142 &&
          prev.delitoNavigation?.id !== 143
        "
        class="nav-item"
        role="presentation"
      >
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#objeto"
          type="button"
          role="tab"
          aria-controls="objeto"
          aria-selected="false"
        >
          Objeto
        </button>
      </li>
      <li
        *ngIf="
          prev.delitoNavigation?.id !== 3 &&
          prev.delitoNavigation?.id !== 4 &&
          prev.delitoNavigation?.id !== 5 &&
          prev.delitoNavigation?.id !== 6 &&
          prev.delitoNavigation?.id !== 7 &&
          prev.delitoNavigation?.id !== 8 &&
          prev.delitoNavigation?.id !== 11 &&
          prev.delitoNavigation?.id !== 12 &&
          prev.delitoNavigation?.id !== 13 &&
          prev.delitoNavigation?.id !== 14 &&
          prev.delitoNavigation?.id !== 17 &&
          prev.delitoNavigation?.id !== 18 &&
          prev.delitoNavigation?.id !== 25 &&
          prev.delitoNavigation?.id !== 26 &&
          prev.delitoNavigation?.id !== 27 &&
          prev.delitoNavigation?.id !== 28 &&
          prev.delitoNavigation?.id !== 29 &&
          prev.delitoNavigation?.id !== 87 &&
          prev.delitoNavigation?.id !== 31 &&
          prev.delitoNavigation?.id !== 32 &&
          prev.delitoNavigation?.id !== 33 &&
          prev.delitoNavigation?.id !== 37 &&
          prev.delitoNavigation?.id !== 41 &&
          prev.delitoNavigation?.id !== 53 &&
          prev.delitoNavigation?.id !== 55 &&
          prev.delitoNavigation?.id !== 58 &&
          prev.delitoNavigation?.id !== 59 &&
          prev.delitoNavigation?.id !== 60 &&
          prev.delitoNavigation?.id !== 61 &&
          prev.delitoNavigation?.id !== 64 &&
          prev.delitoNavigation?.id !== 65 &&
          prev.delitoNavigation?.id !== 66 &&
          prev.delitoNavigation?.id !== 67 &&
          prev.delitoNavigation?.id !== 68 &&
          prev.delitoNavigation?.id !== 69 &&
          prev.delitoNavigation?.id !== 74 &&
          prev.delitoNavigation?.id !== 75 &&
          prev.delitoNavigation?.id !== 76 &&
          prev.delitoNavigation?.id !== 77 &&
          prev.delitoNavigation?.id !== 78 &&
          prev.delitoNavigation?.id !== 79 &&
          prev.delitoNavigation?.id !== 81 &&
          prev.delitoNavigation?.id !== 82 &&
          prev.delitoNavigation?.id !== 83 &&
          prev.delitoNavigation?.id !== 84 &&
          prev.delitoNavigation?.id !== 85 &&
          prev.delitoNavigation?.id !== 88 &&
          prev.delitoNavigation?.id !== 90 &&
          prev.delitoNavigation?.id !== 91 &&
          prev.delitoNavigation?.id !== 92 &&
          prev.delitoNavigation?.id !== 93 &&
          prev.delitoNavigation?.id !== 94 &&
          prev.delitoNavigation?.id !== 95 &&
          prev.delitoNavigation?.id !== 96 &&
          prev.delitoNavigation?.id !== 97 &&
          prev.delitoNavigation?.id !== 98 &&
          prev.delitoNavigation?.id !== 99 &&
          prev.delitoNavigation?.id !== 100 &&
          prev.delitoNavigation?.id !== 101 &&
          prev.delitoNavigation?.id !== 102 &&
          prev.delitoNavigation?.id !== 103 &&
          prev.delitoNavigation?.id !== 104 &&
          prev.delitoNavigation?.id !== 105 &&
          prev.delitoNavigation?.id !== 106 &&
          prev.delitoNavigation?.id !== 107 &&
          prev.delitoNavigation?.id !== 110 &&
          prev.delitoNavigation?.id !== 111 &&
          prev.delitoNavigation?.id !== 113 &&
          prev.delitoNavigation?.id !== 115 &&
          prev.delitoNavigation?.id !== 118 &&
          prev.delitoNavigation?.id !== 119 &&
          prev.delitoNavigation?.id !== 120 &&
          prev.delitoNavigation?.id !== 121 &&
          prev.delitoNavigation?.id !== 122 &&
          prev.delitoNavigation?.id !== 123 &&
          prev.delitoNavigation?.id !== 124 &&
          prev.delitoNavigation?.id !== 125 &&
          prev.delitoNavigation?.id !== 126 &&
          prev.delitoNavigation?.id !== 127 &&
          prev.delitoNavigation?.id !== 128 &&
          prev.delitoNavigation?.id !== 129 &&
          prev.delitoNavigation?.id !== 130 &&
          prev.delitoNavigation?.id !== 131 &&
          prev.delitoNavigation?.id !== 132 &&
          prev.delitoNavigation?.id !== 133 &&
          prev.delitoNavigation?.id !== 134 &&
          prev.delitoNavigation?.id !== 135 &&
          prev.delitoNavigation?.id !== 136 &&
          prev.delitoNavigation?.id !== 137 &&
          prev.delitoNavigation?.id !== 138 &&
          prev.delitoNavigation?.id !== 141 &&
          prev.delitoNavigation?.id !== 143
        "
        class="nav-item"
        role="presentation"
      >
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#modalidad"
          type="button"
          role="tab"
          aria-controls="modalidad"
          aria-selected="false"
        >
          Modalidad
        </button>
      </li>
      <li *ngIf="prev.delitoNavigation?.id !== 143"
      class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#victimas"
          type="button"
          role="tab"
          aria-controls="victimas"
          aria-selected="false"
        >
          Víctimas
        </button>
      </li>
      <li
        *ngIf="
          prev.delitoNavigation?.id !== 5 &&
          prev.delitoNavigation?.id !== 6 &&
          prev.delitoNavigation?.id !== 143
        "
        class="nav-item"
        role="presentation"
      >
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#inculpados"
          type="button"
          role="tab"
          aria-controls="inculpados"
          aria-selected="false"
        >
          Inculpados
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#ampliaciones"
          type="button"
          role="tab"
          aria-controls="ampliaciones"
          aria-selected="false"
        >
          Ampliaciones
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#unidad"
          type="button"
          role="tab"
          aria-controls="unidad"
          aria-selected="false"
        >
          Unidades Int.
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="general"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-preventivo [id]="this.id"></app-abm-preventivo>
        </section>
        <br />
      </div>
      <div
        class="tab-pane fade"
        id="caratula"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-prev-caratula [id]="this.id"></app-abm-prev-caratula>
        </section>
        <br />
      </div>
      <div
        class="tab-pane fade"
        id="snic"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <br />
        <section class="tab-panel">
          <!-- LESIONES CULPOSAS POR ACC. TRANS GRAVES Y GRAVISIMAS Y LESIONES CULPOSAS POR ACC. TRANSITO LEVES -->
          <ng-container
            *ngIf="
            prev.delitoNavigation?.id == 3 || prev.delitoNavigation?.id == 13 || prev.delitoNavigation?.id == 12
            "
          >
            <app-abm-snic [id]="this.id"></app-abm-snic>
          </ng-container>
          <!-- homicidio doloso consumado y tentativo -->
          <ng-container
            *ngIf="
              prev.delitoNavigation?.id == 1 || prev.delitoNavigation?.id == 2
            "
          >
            <app-abm-prev-homicidio [id]="this.id"></app-abm-prev-homicidio>
          </ng-container>
          <!-- instigacion al suicidio consumado y tentativa -->
          <ng-container
            *ngIf="
              prev.delitoNavigation?.id == 5 || prev.delitoNavigation?.id == 6
            "
          >
            <app-abm-prev-suicidio [id]="this.id"></app-abm-prev-suicidio>
          </ng-container>
        </section>
      </div>
      <div
        class="tab-pane fade"
        id="medio"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-preventivo-medio [id]="this.id"></app-abm-preventivo-medio>
        </section>
      </div>
      <div
        class="tab-pane fade"
        id="objeto"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-prev-objeto [id]="this.id"></app-abm-prev-objeto>
        </section>
      </div>
      <div
        class="tab-pane fade"
        id="modalidad"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-prev-modalidad [id]="this.id"></app-abm-prev-modalidad>
        </section>
      </div>
      <div
        class="tab-pane fade"
        id="victimas"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-pre-victima [id]="this.id"></app-abm-pre-victima>
        </section>
      </div>
      <div
        class="tab-pane fade"
        id="inculpados"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-prev-inculpado [id]="this.id"></app-abm-prev-inculpado>
        </section>
      </div>
      <div
        class="tab-pane fade"
        id="ampliaciones"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-prev-ampliacion [id]="this.id"></app-abm-prev-ampliacion>
        </section>
      </div>
      <div
        class="tab-pane fade"
        id="unidad"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <br />
        <section class="tab-panel">
          <app-abm-prev-unidad-especial
            [id]="this.id"
          ></app-abm-prev-unidad-especial>
        </section>
        <br />
      </div>
    </div>
  </center>
</div>
