<div class="container">
    <h3 class="alert alert-info text-center" role="alert">
      Panel ABM Provincia
    </h3>
    <hr />
    <form class="text-center" [formGroup]="form" (ngSubmit)="doAction()">
      <div class="form-group row">
        <label for="Nombre" class="col-sm-12 col-form-label"> Código:</label>
        <div class="col-sm-12">
          <input
            [(ngModel)]="item.codigo"
            id="codigo"
            type="number"
            class="form-control"
            placeholder="Código"
            formControlName="codigo"
            [ngClass]="{ 'is-invalid': enviado && f['codigo'].errors }"
          />
          <div *ngIf="enviado && f['codigo'].errors" class="invalid-feedback">
            <div *ngIf="f['codigo'].errors['required']">Campo obligatorio</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="Nombre" class="col-sm-12 col-form-label"> Nombre:</label>
        <div class="col-sm-12">
          <input
            [(ngModel)]="item.nombre"
            id="descripcion"
            type="text"
            class="form-control"
            placeholder="Nombre de la Provincia"
            formControlName="nombre"
            [ngClass]="{ 'is-invalid': enviado && f['nombre'].errors }"
          />
          <div *ngIf="enviado && f['nombre'].errors" class="invalid-feedback">
            <div *ngIf="f['nombre'].errors['required']">Campo obligatorio</div>
          </div>
        </div>
      </div>
      <br />
      <hr />
      <div class="row">
        <button class="btn btn-dark" type="submit">Guardar</button>
        &nbsp;
        <button class="btn btn-info" type="button" (click)="back()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <br />
  