<div class="container">
    <h3 class="alert alert-info text-center" role="alert">
      Panel Modalidad
    </h3>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <center>
          <h5>
            <b
              ><em><u>DATOS A CARGAR:</u></em></b
            >
          </h5>
        </center>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="" class="col-sm-12 col-form-label">Filtrar Modalidad:</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
          <input
            (keyup.enter)="filtrarModalidad()"
            [(ngModel)]="busqueda"
            name="busqueda"
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Ingrese nombre de la modalidad"
          />
        </div>
        <select
          *ngIf="Mitems.length > 0 && this.busqueda"
          name="Mitem"
          [(ngModel)]="Mitem"
          class="form-select form-select-lm mb-3" 
          aria-label=".form-select-lg example"
          (ngModelChange)="capturar($event)"
          [ngModelOptions]="{ standalone: true }"
        >
          <option *ngFor="let Mitem of Mitems" [ngValue]="Mitem">
            {{ Mitem.descripcion }}
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <ng-container *ngIf="guardando; then thenTemplate; else elseTemplate"></ng-container>
      <ng-template #thenTemplate>
        <center>
        <button id="boton" class="btn btn-disabled" type="button" disabled>
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Guardando datos...
        </button>
      </center>
      </ng-template>
      <ng-template #elseTemplate>
        <ng-container
        *ngIf="mostrarBtnModif; then thenTemplate; else elseTemplate"
      ></ng-container>
      <ng-template #thenTemplate>
        <div class="row">
          <center>
            <button
              id="boton"
              type="button"
              title="Modificar datos"
              placement="top"
              (click)="actualizarDatos(this.item)"
              show-delay="10"
              class="btn btn-primary"
            >
              <i class="fa fa-edit" aria-hidden="true"></i>
              Guardar modificación
            </button>
          </center>
        </div>
      </ng-template>
      <ng-template #elseTemplate>
        <div class="row">
          <center>
            <button
              id="boton"
              type="button"
              title="Guardar"
              placement="top"
              (click)="guardar()"
              show-delay="10"
              class="btn btn-outline-info"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
              Agregar a tabla
            </button>
          </center>
        </div>
      </ng-template>
    </ng-template>
      </div>
    </div>
    <br />
    <div class="row">
      <table id="tabla" class="table">
        <thead class="text-center table-primary">
          <tr>
            <th>Código Modalidad</th>
            <th>Descripción</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of items" class="text-center {{ colores(i) }}">
            <ng-container *ngIf="i.id > 0; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              <td>{{ i.modalidadNavigation.codigo }}</td>
              <td>{{ i.modalidadNavigation.descripcion }}</td>
            </ng-template>
            <ng-template #elseTemplate>
              <td>{{ i.codigo }}</td>
              <td>{{ i.capturaDescripcion }}</td>
            </ng-template>
            <!-- editar y guardar -->
            <ng-container
              *ngIf="i.id > 0; then mostrar; else noMostrar"
            ></ng-container>
            <ng-template #mostrar>
              <!-- muestra el eliminar -->
              <ng-container
                *ngIf="mostrarBtnModif && idSeleccion == i.id; then thenTemplate; else elseTemplate"
              ></ng-container>
              <ng-template #thenTemplate>
                <td>
                  <button
                    type="button"
                    title="Cancelar Modificación"
                    placement="top"
                    show-delay="10"
                    (click)="cancelarModificacion()"
                    class="btn btn-success btn-circle"
                  >
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </td>
              </ng-template>
              <ng-template #elseTemplate>
                <td>
                  <button
                    type="button"
                    title="Modificar"
                    placement="top"
                    show-delay="10"
                    (click)="traerDatos(i.id)"
                    class="btn btn-warning btn-circle"
                  >
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    title="Eliminar"
                    placement="top"
                    show-delay="10"
                    (click)="preDelete(i)"
                    class="btn btn-danger btn-circle"
                  >
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </ng-template>
            </ng-template>
            <ng-template #noMostrar>
              <!-- saca de la lista -->
              <td>
                <button
                  type="button"
                  title="Eliminar de la lista"
                  placement="top"
                  show-delay="10"
                  (click)="deleteRow(i)"
                  class="btn btn-info btn-circle"
                >
                <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      *ngIf="items.length === 0"
      class="alert alert-primary alert-dismissible fade show"
      role="alert"
    >
      <center>
        <strong>No hay datos</strong>
      </center>
    </div>
    <hr />
    <div class="row">
      <!-- <button *ngIf="!mostrarBtnModif" class="btn btn-dark" type="button" (click)="agregarDato()">Guardar</button>
      &nbsp; -->
      <button class="btn btn-info" type="button" (click)="back()">
        Cancelar
      </button>
    </div>
  </div>
  <br>