#opt{
    background-color: blue;
    color: aliceblue;
}

.modal-header{
    background-color: blue;
    color: white;
}
.proccess{
    background-color: antiquewhite !important;
    text-transform: uppercase;
    font-weight: bold;
}

.logo-img {
    height: 25px;
    display: block;
    left: 20px;
    position: absolute;
    top: 5px;
    img {
      width: 35px;
    }
  }