#opt {
  background-color: blue;
  color: aliceblue;
}

.modal-header {
  background-color: blue;
  color: white;
}
.proccess {
  background-color: antiquewhite !important;
  text-transform: uppercase;
  font-weight: bold;
}

.logo-img {
  height: 25px;
  display: block;
  left: 20px;
  position: absolute;
  top: 5px;
  img {
    width: 35px;
  }
}

.btn-orange{
    background-color: #FF4500;
    color: whitesmoke;
}
.btn-violeta{
  background-color: #5800FF;
  color: whitesmoke;
}