<div class="container-fluid">
  <div class="row alert alert-primary">
    <div class="col-md-4">
      <legend class="text-dark">
        <em>
          <b> <u>Listado de Preventivos</u> </b>
        </em>
      </legend>
    </div>
    <div class="col-md-8">
      <button class="btn btn-outline-primary" (click)="linkear(0)">
        <i class="fa fa-plus" aria-hidden="true">
          &nbsp;
          <b>Agregar nuevo</b>
        </i>
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <app-fil-preventivo (emmit)="doFound($event)"></app-fil-preventivo>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <table class="table text-center">
        <thead class="table-dark border border-dark">
          <tr>
            <th>Fecha</th>
            <th>Preventivo N°</th>
            <th>Intervencion Pol.</th>
            <th>Fecha Hecho</th>
            <th>Hora</th>
            <th>Descripción</th>
            <th>Localidad</th>
            <!-- <th>Acción</th> -->
          </tr>
        </thead>
        <tbody>
          <tr
            (click)="clickRow(item)"
            [ngClass]="{ proccess: selectedRowIndex == item.id }"
            *ngFor="let item of items"
          >
            <td class="text-primary">
              {{ item.fechaPreventivo | date: "dd/MM/yyyy" }}
            </td>
            <td class="text-primary">
              {{ item.anio }} - {{ item.nro }} - {{ item.letra }}
            </td>
            <td class="text-primary">{{ valor(item.intervencionPol) }}</td>
            <td class="text-primary">
              {{ item.fechaHecho | date: "dd/MM/yyyy" }}
            </td>
            <td class="text-primary">{{ item.hora }}</td>
            <td class="text-danger">
             <b> {{ item?.delitoNavigation?.descripcion }}</b>
            </td>
            <td class="text-primary">
              {{ item?.localidadNavigation?.nombre }}
            </td>
            <!-- <td>
              <div class="row">
                <div class="col-md-12">
                  <select
                    [(ngModel)]="seleccionAccion"
                    (click)="seleccion(item.id)"
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option id="opt" selected>Seleccione:</option>
                    <option value="caratula">Carátulas Secundarias</option>
                    <option value="snic">S.N.I.C.</option>
                    <option value="medio">Medio Utilizado</option>
                    <option value="objeto">Objeto</option>
                    <option value="modalidad">Modalidad</option>
                    <option value="victimas">Victimas</option>
                    <option value="inculpados">Inculpados</option>
                    <option value="ampliaciones">Ampliaciones</option>
                  </select>
                </div>
              </div>
              <br />
              <!-- <div class="row">
                <div class="col-md-12">
                  <button
                    (click)="linkear(item.id)"
                    type="button"
                    title="Modificar"
                    placement="top"
                    show-delay="10"
                    class="btn btn-info btn-sm"
                  >
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                  &nbsp;
                  <button
                    (click)="eliminar(item.id)"
                    type="button"
                    title="Eliminar"
                    placement="top"
                    show-delay="10"
                    class="btn btn-danger btn-sm"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                  &nbsp;
                  <button
                    *ngIf="proccess && selectedRowIndex == item.id"
                    type="button"
                    title="Ver detalle del preventivo"
                    placement="top"
                    show-delay="10"
                    class="btn btn-warning btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                  >
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div
      *ngIf="items.length === 0"
      class="alert alert-info alert-dismissible fade show text-center"
      role="alert"
    >
      <strong>No hay datos</strong>
    </div>
  </div>
  <div *ngIf="proccess" class="row">
    <hr />
    <div class="row">
      <div class="col-md-12">
        <CENTER>
          <button
            (click)="vaciarDatos()"
            type="button"
            title="Cancelar selección"
            placement="top"
            show-delay="10"
            class="btn btn-success btn-sm"
          >
          <i class="fa fa-ban" aria-hidden="true"></i> Cancelar selección
          </button>
          &nbsp;
          <button
            (click)="linkear(this.id)"
            type="button"
            title="Modificar"
            placement="top"
            show-delay="10"
            class="btn btn-warning btn-sm"
          >
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modificar
            Datos
          </button>
          &nbsp;
          <button
            (click)="eliminar(this.id)"
            type="button"
            title="Eliminar"
            placement="top"
            show-delay="10"
            class="btn btn-danger btn-sm"
          >
            <i class="fa fa-trash"></i> Eliminar Registro
          </button>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <button
          (click)="linkearDetalle(this.id)"
          type="button"
          class="btn btn-primary btn-sm"
          >
          <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Agregar detalle al preventivo
          </button>
          &nbsp;
          <!-- modificado para que vea solamente el desarrollador -->
          <button
          *ngIf="this.rol == 'DEVELOPER'"
            type="button"
            title="Ver detalle del preventivo"
            placement="top"
            show-delay="10"
            class="btn btn-orange btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            <i class="fa fa-info-circle" aria-hidden="true"></i> Ver detalles del Preventivo
          </button>
          <!-- /aca finaliza -->
        </CENTER>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <button class="btn btn-outline-primary" type="button" (click)="back()">
      <i class="fa fa-hand-o-left" aria-hidden="true"></i> &nbsp; Volver a
      Inicio
    </button>
  </div>
</div>
<br />

<!-- Modal -->
<div
  *ngIf="id > 0"
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          <div class="logo-img">
            <img src="./assets/img/escudo.png" />
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
            >Detalles del Preventivo Seleccionado:</b
          >
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-abm-detalle-preventivo [id]="id"></app-abm-detalle-preventivo>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="vaciarDatos()"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Finalizar revisión
        </button>
      </div>
    </div>
  </div>
</div>
