#opt{
    background-color: blue;
    color: aliceblue;
}

.modal-header{
    background-color: blue;
    color: white;
}
.proccess{
    background-color: antiquewhite !important;
    text-transform: uppercase;
    font-weight: bold;
}