<nav id="footer" class="footer d-print-none">
    <div class="container bottom_border">
      <br />
      <div class="row">
        <div class="col-md-4 text-center">
          <h6>
            <i class="fa fa-copyright" aria-hidden="true"></i>&nbsp;
            <b>2022 | Diseñando por:</b>
          </h6>
          <h6><b>Oficina de Análisis y Programación</b></h6>
        </div>
        <div class="col-md-4 text-center">
          <div class="col">
            <i class="fa fa-volume-control-phone" aria-hidden="true"></i>&nbsp;
            <span><b>+54-362-463114 | interno(29)</b></span>
          </div>
          <div class="col">
            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
            <span><b>pol.programacion@chaco.gob.ar</b></span>
          </div>
        </div>
        <div align="center" class="col-md-4">
          <img src="./assets/img/logo.png" />
          <img src="./assets/img/Sistema.gif" />
        </div>
      </div>
    </div>
  </nav>